{% include "../includes/head.html" %}
<body>
{% include "../includes/header.html" %}
	
<section class="page-content page-content-img {{img}}">
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-1-6@l">
	{% if catalog == true %}			
	{% include "../includes/left-sidebar.html" %}
	{% else %}
	{% include "../includes/left-sidebar-content.html" %}
	{% endif %}
			</div>
			<div class="uk-width-5-6@l">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	{% if panel == true %}
	{% include "../includes/white-panel.html" %}
	{% endif %}
</section>

{% include "../includes/footer.html" %}

{% include "../includes/modals.html" %}

{% include "../includes/scripts.html" %}

</body>
</html>
