/*______ Colors ______*/

/* @mixin background-retina($filename, $fileformat) {
	background-image: url("../img/${filename}$1x.${fileformat}");

	$media: $retina-dpi, $retina-ppx {
		background-image: url("../img/${filename}$2x.${fileformat}");
	}
}
 */

/*______ Main Fonts ______*/

@font-face {
  font-family: 'SF';
  src: url("../fonts/SF/SFUIDisplay-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url("../fonts/SF/SFUIDisplay-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url("../fonts/SF/SFUIDisplay-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

/*______ Icomoon Font ______*/

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot?85ih4s");
  src: url("../fonts/icomoon/fonts/icomoon.eot?85ih4s#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?85ih4s") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?85ih4s") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?85ih4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
  color: #fa7f4c;
}

.icon-roulette:before {
  content: "\e901";
  color: #fa7f4c;
}

.icon-phone_copy:before {
  content: "\e902";
  color: #fa7f4c;
}

.icon-envelope:before {
  content: "\e903";
  color: #fa7f4c;
}

.icon-compare:before {
  content: "\e904";
  color: #fa7f4c;
}

.icon-cart:before {
  content: "\e905";
  color: #fff;
}

.icon-arrow-right:before {
  content: "\e906";
}

.icon-ae_logo2:before {
  content: "\e907";
}

.icon-menu:before {
  content: "\e908";
}

.icon-pin:before {
  content: "\e909";
  color: #fa7f4c;
}

/*______ Elements ______*/

h1,
.title-h1 {
  margin-bottom: 25px;
  color: #0f0f0f;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.btn {
  padding: 16px 42px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fa7f4c;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn:hover {
  color: #ffffff;
  background-color: #4848bc;
  text-decoration: none;
}

.icon-arrow-left {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e906";
}

.icon-arrow-right {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.show-more {
  color: #727271;
  font-size: 14px;
}

.gray-block {
  padding: 110px 19.5% 90px;
  background-color: #d1d1d1;
}

/*______ Tabs ______*/

[uk-switcher] {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  font-size: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  z-index: 30;
}

[uk-switcher] li {
  margin-right: 92px;
  display: inline-block;
  vertical-align: top;
}

[uk-switcher] li.uk-active a {
  color: #0f0f0f;
  font-weight: 700;
}

[uk-switcher] li.uk-active a:after {
  background-color: #fa7f4c;
}

[uk-switcher] li a {
  position: relative;
  padding: 40px 0;
  display: block;
  color: #727271;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

[uk-switcher] li a:hover {
  text-decoration: none;
}

[uk-switcher] li a:after {
  content: '';
  position: absolute;
  bottom: -1.5px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

/*______ End Tabs ______*/

/*______ Card ______*/

.card {
  position: relative;
  padding: 40px 30px 30px;
  background: #ffffff;
}

.card a {
  display: block;
}

.card a:hover {
  text-decoration: none;
  color: #284097;
}

.card__img {
  margin-bottom: 30px;
  text-align: center;
}

.card__img img {
  display: inline;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.card__img img[data-lazy] {
  min-height: 316px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.card__article {
  margin-bottom: 15px;
  color: #727271;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.card__product-name {
  margin-bottom: 40px;
  color: #0f0f0f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.card__price span {
  margin-right: 16px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
}

.card__price span:empty {
  margin-right: 0;
}

.card__price span.current-price {
  font-weight: 500;
}

.card__price .old-price {
  opacity: .5;
  text-decoration: line-through;
}

.stocks {
  position: absolute;
  top: 37px;
  left: -7px;
  z-index: 600;
}

.stocks div {
  position: relative;
  margin-bottom: 10px;
  width: 40px;
  height: 22px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.stocks div:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 8px;
  height: 9px;
}

.stocks div.new {
  background-color: #4848bc;
}

.stocks div.new:after {
  background: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #33339b 50%);
  background: -moz-linear-gradient(45deg, transparent 0%, transparent 50%, #33339b 50%);
  background: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #33339b 50%);
  background: linear-gradient(45deg, transparent 0%, transparent 50%, #33339b 50%);
}

.stocks div.discount {
  background-color: #fa7f4c;
}

.stocks div.discount:after {
  background: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #d96637 50%);
  background: -moz-linear-gradient(45deg, transparent 0%, transparent 50%, #d96637 50%);
  background: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #d96637 50%);
  background: linear-gradient(45deg, transparent 0%, transparent 50%, #d96637 50%);
}

.stocks div.popular {
  background-color: #e8656d;
}

.stocks div.popular:after {
  background: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #c34d54 50%);
  background: -moz-linear-gradient(45deg, transparent 0%, transparent 50%, #c34d54 50%);
  background: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #c34d54 50%);
  background: linear-gradient(45deg, transparent 0%, transparent 50%, #c34d54 50%);
}

/*______ End Card ______*/

body,
table {
  color: #0f0f0f;
  font-family: "SF";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #727271;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  color: #0f0f0f;
  text-decoration: underline;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

.uk-container {
  margin: 0 auto;
  max-width: 1410px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*______ HEADER ______*/

.top-bar {
  padding: 18px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e9ebee;
}

.tel-wrapper {
  width: 32%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tel-wrapper span {
  margin-right: 20px;
  color: #727271;
  font-size: 13px;
  line-height: 16px;
}

.tel-wrapper a {
  color: #0f0f0f;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.top-bar-info {
  width: 58%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "SF" !important;
  font-size: 13px;
  line-height: 16px;
}

.top-bar-info .address a,
.top-bar-info .call-spec a,
.top-bar-info .callback a,
.top-bar-info .mail a {
  font-family: "SF" !important;
}

.top-bar-info .address a:before,
.top-bar-info .call-spec a:before,
.top-bar-info .callback a:before,
.top-bar-info .mail a:before {
  padding-right: 16px;
  font-family: 'icomoon' !important;
}

.top-bar-info .address a:hover,
.top-bar-info .call-spec a:hover,
.top-bar-info .callback a:hover,
.top-bar-info .mail a:hover {
  text-decoration: none;
}

.top-bar-info .address {
  font-size: 13px;
}

.top-bar-info .address i:before {
  padding-right: 16px;
}

.top-bar-info .mail a:before {
  font-size: 10px;
}

.auth {
  width: 10%;
  text-align: right;
  font-size: 14px;
}

.bottom-bar {
  padding: 7px 0 12px;
}

.bottom-bar__inner {
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-nav {
  margin-right: 4%;
  width: 69.5%;
}

.page-nav .nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-nav .nav-list > li {
  position: relative;
}

.page-nav .nav-list > li:hover > a {
  z-index: 50;
}

.page-nav .nav-list > li:hover .nav-sublist {
  opacity: 1;
  visibility: visible;
  z-index: 49;
}

.page-nav .nav-list > li > a {
  position: relative;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #727271;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 20;
}

.page-nav .nav-list > li > a:hover {
  color: #0f0f0f;
  text-decoration: none;
}

.page-nav .nav-sublist {
  position: absolute;
  top: -16px;
  left: -16px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 56px 16px 18px;
  min-width: 140px;
  -webkit-box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
  box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.page-nav .nav-sublist li {
  padding: 10px 0;
}

.page-nav .nav-sublist li:first-child {
  padding-top: 18px;
  border-top: 1px solid #e9ebee;
}

.page-nav .nav-sublist li a {
  font-size: 14px;
  line-height: 18px;
}

.compare {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 11.5%;
}

.compare a {
  text-decoration: none;
  font-family: "SF" !important;
  font-size: 14px;
}

.compare a:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'icomoon' !important;
}

.compare__text {
  margin-left: 31px;
  font-size: 14px;
  line-height: 1;
}

.compare__count {
  color: #0f0f0f;
}

.basket {
  min-width: 112px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.basket-icon {
  margin-right: 20px;
  width: 39px;
  height: 39px;
  display: inline-block;
  line-height: 39px;
  text-align: center;
  background-color: #fa7f4c;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.basket-icon i {
  font-size: 14px;
}

.basket .basket-value {
  font-size: 14px;
  color: #0f0f0f;
}

.basket:hover .basket-icon {
  background-color: #4848bc;
}

/*______ CONTENT ______*/

section.content {
  padding: 36px 0;
  background: #ededed;
}

.products-short-list .item {
  margin-bottom: 40px !important;
  width: 100%;
  height: 230px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.products-short-list .item.item--full-height {
  margin-bottom: 0 !important;
  height: 500px;
}

.products-short-list .item[data-src] {
  -webkit-background-size: 25px 25px;
  background-size: 25px 25px;
}

.products-short-list .item a {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}

.products-short-list .item a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  transition: background-color .3s ease;
  z-index: 10;
}

.products-short-list .item a:hover .item__text {
  background-color: #4848bc;
}

.products-short-list .item a:hover:after {
  background-color: transparent;
}

.products-short-list .item__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 25px;
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  transition: background-color .3s ease;
  z-index: 12;
}

.products-short-list .item__type {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 300;
}

.products-short-list .item__price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

/*______ About manufactures ______*/

.about-manufactures .title-h1 {
  margin-bottom: 55px;
}

.about-manufactures .text {
  padding: 100px 0 130px;
  background: #ffffff url("../img/manufactures-bg.png") right 33px no-repeat;
}

.about-manufactures p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

/*______ End About manufactures ______*/

/*______ Advantages list ______*/

.advantages-list {
  position: relative;
  margin-top: -32px;
  margin-bottom: 60px !important;
  max-width: 78%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages-list .item {
  margin-right: 6.6666%;
  width: 20%;
}

.advantages-list .item:last-child {
  margin-right: 0;
}

.advantages-list .item__img {
  margin-bottom: 20px;
  height: 86px;
}

.advantages-list .item__title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.advantages-list .item__text {
  color: #727271;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.advantages-list:after {
  /* content: ''; */
  position: absolute;
  top: 50%;
  left: -300px;
  display: block;
  width: 750px;
  height: 500px;
  background: url("../img/door.png") center -100px no-repeat;
  z-index: 1;
}

/*______ End Advantages list ______*/

/*______ Manufactures tabs ______*/

.manufactures-tabs {
  position: relative;
  margin-bottom: 100px !important;
  z-index: 25;
}

.manufactures-tabs ul[uk-switcher] {
  padding-left: 17.3%;
}

.manufactures-tabs .uk-switcher {
  background: #ededed;
}

/*______ End manufactures tabs ______*/

.white-section {
  margin-bottom: 50px;
  padding: 100px 0;
  background-color: #ffffff;
}

/*______ Brands list ______*/

.brands-list {
  margin: 0 auto 120px;
  max-width: 908px;
}

.brands-list__header {
  position: relative;
}

.brands-list__header .show-more {
  position: absolute;
  top: 50%;
  right: 0;
}

/*______ End Brands list ______*/

/*______ About company ______*/

.about-company .gray-block {
  margin-bottom: 130px;
}

.about-company__title {
  margin-bottom: 40px;
  font-size: 86px;
  line-height: 100px;
  font-weight: 300;
}

.about-company__title span {
  display: block;
  font-weight: 500;
}

.about-company p {
  line-height: 30px;
  font-weight: 300;
}

.about-company .btn {
  margin-top: 56px;
}

.about-company__text {
  margin: 0 auto;
  max-width: 1140px;
}

.about-company .text-section {
  margin-bottom: 80px;
}

.about-company .text-section .text,
.about-company .text-section .img {
  width: 50%;
}

.about-company .text-section .title-h1 {
  margin-bottom: 50px;
}

.about-company .text-section p {
  max-width: 432px;
}

.about-company .text-section:nth-child(odd) .text {
  float: right;
}

.about-company .text-section:nth-child(odd) .img {
  float: left;
}

.about-company .text-section:nth-child(even) .text {
  float: left;
}

.about-company .text-section:nth-child(even) .img {
  float: right;
}

.about-company .text-section:last-child {
  margin-bottom: 0;
}

/*______ End About company ______*/

/*______ Attantion block ______*/

.attantion-block {
  position: relative;
  margin: 0 auto 35px;
  padding-left: 75px;
  max-width: 985px;
}

.attantion-block p {
  color: #727271;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.attantion-block:before {
  content: '*';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 86px;
  line-height: 86px;
  color: #fa7f4c;
  font-weight: 300;
}

/*______ End Attantion block ______*/

/*______ Left Sidebar ______*/

.left-sidebar {
  margin-bottom: 40px !important;
  padding: 0 13.5px;
  background-color: #5d5d60;
}

.left-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-sidebar a {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.left-sidebar a:hover {
  text-decoration: none;
}

.left-sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-sidebar-nav > li:last-child {
  border-bottom: none;
}

.left-sidebar-nav > li > a {
  position: relative;
  padding: 18px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.left-sidebar-nav > li > a i.small-arrow {
  position: absolute;
  top: 18px;
  right: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: url("../img/small-arrow.png") center no-repeat;
  -webkit-background-size: 5px 7px;
  background-size: 5px 7px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  -moz-transition: transform .3s ease, -moz-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.left-sidebar-nav > li > a i.small-arrow.open {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.left-sublist-nav {
  display: none;
}

.left-sublist-nav li a {
  padding: 12px 0 12px 20px;
  opacity: .5;
}

.left-sublist-nav li a.active {
  opacity: 1;
  background: url("../img/small-arrow-orange.png") 0 18px no-repeat;
}

.left-sublist-nav li a:hover {
  opacity: 1;
}

.sidebar-search {
  position: relative;
  padding: 18px 0 18px 30px;
  display: block;
  font-family: "SF" !important;
}

.sidebar-search:before {
  position: absolute;
  top: 18px;
  left: 0;
  font-family: 'icomoon' !important;
}

.sidebar-search:hover {
  text-decoration: none;
}

/*______  End Left Sidebar ______*/

/*______ FOOTER ______*/

.footer {
  padding: 68px 0 42px;
  background-color: #5d5d60;
  font-size: 13px;
}

.footer__contacts a {
  margin-bottom: 12px;
  display: block;
}

.footer a {
  color: #ffffff;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 14px;
}

.footer ul li:last-child {
  margin-bottom: 0;
}

.footer .tel {
  font-size: 18px;
  font-weight: 500;
}

.footer .call-spec a,
.footer .callback a {
  font-family: "SF" !important;
}

.footer .call-spec a:before,
.footer .callback a:before {
  padding-right: 18px;
  font-family: 'icomoon' !important;
}

.footer .call-spec {
  margin-bottom: 24px;
}

.footer-top-bar {
  padding-bottom: 35px;
}

.footer-bottom-bar {
  padding: 35px 0;
  border-top: 1px solid #ffffff;
  color: #ffffff;
}

.aevrika-link {
  position: relative;
  padding-left: 30px;
  font-family: "SF" !important;
}

.aevrika-link:before {
  position: absolute;
  top: 0;
  left: 0;
  color: #fa7f4c;
  font-family: 'icomoon' !important;
  font-size: 16px;
}

.footer-attantion {
  margin-top: 10px;
}

/*______ SLIDERS ______*/

/*______ Main Slider ______*/

.main-slider {
  position: relative;
  margin-bottom: 40px;
}

.main-slider .slider {
  height: 540px;
  overflow: hidden;
}

.main-slider .slide {
  position: relative;
  padding: 80px 120px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  color: #ffffff;
  min-height: 540px;
}

.main-slider .slide img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover; object-position: cover;';
  object-fit: cover;
}

.main-slider .slide__desc {
  position: relative;
  max-width: 670px;
}

.main-slider .slide__title {
  margin-bottom: 30px;
  font-size: 86px;
  line-height: 90px;
  font-weight: 300;
}

.main-slider .slide__title span {
  display: block;
  font-weight: 500;
}

.main-slider .slide__text {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  max-height: 85px;
  overflow: hidden;
}

.main-slider .slick-dots {
  bottom: 110px;
  right: 120px;
  width: auto;
  display: inline-block !important;
}

.main-slider .slick-dots li {
  margin: 0 18px;
}

.main-slider .slick-dots li button:before {
  color: #ffffff;
  opacity: 1;
}

.main-slider .slick-dots li.slick-active button:before {
  color: #fa7f4c;
  opacity: 1;
}

/*______ End Main Slider ______*/

.slider__arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 450;
}

.slide-prev,
.slide-next {
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  -webkit-transition: color .3s, background-color .3s, border-color .3s ease;
  -o-transition: color .3s, background-color .3s, border-color .3s ease;
  -moz-transition: color .3s, background-color .3s, border-color .3s ease;
  transition: color .3s, background-color .3s, border-color .3s ease;
}

.slide-prev.transparent,
.slide-next.transparent {
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.slide-prev.white,
.slide-next.white {
  border-color: #ffffff;
  color: #0f0f0f;
  background-color: #ffffff;
}

.slide-prev.gray,
.slide-next.gray {
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  color: #0f0f0f;
}

.slide-prev:hover,
.slide-next:hover {
  color: #0f0f0f;
  background-color: #fa7f4c;
  border-color: #fa7f4c;
}

.slide-prev {
  margin-left: 25px;
  float: left;
}

.slide-next {
  margin-right: 25px;
  float: right;
}

/*______ Tabs Slider ______*/

.tab-slider {
  position: relative;
  overflow: hidden;
}

.tab-slider .slider {
  height: 565px;
  overflow: hidden;
}

.tab-slider .slider.slick-initialized {
  height: auto;
}

.tab-slider .tab-slider-wrapper {
  margin: 0 -130px 0 130px;
}

.tab-slider .slick-list {
  margin: 0 -18px;
}

.tab-slider .slide {
  margin: 0 18px 9px;
}

.tab-slider .card {
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  -o-transition: box-shadow .3s ease;
  -moz-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.tab-slider .card:hover {
  -webkit-box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
  box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
}

/*______ End Tabs Slider ______*/

/*______ Brands Slider ______*/

.brands-slider {
  position: relative;
}

.brands-slider a {
  display: block;
  height: 100px;
}

.brands-slider a:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.brands-slider a img {
  display: inline;
}

.brands-slider .slide-prev,
.brands-slider .slide-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.brands-slider .slide-prev {
  left: -120px;
}

.brands-slider .slide-next {
  right: -120px;
}

/*______ End Brands Slider ______*/

/*______ MODALS WINDOWS ______*/

/*______ FORMS ______*/

@media (min-width: 0px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
  }

  .about-manufactures p {
    max-width: 79%;
  }
}