/*______ SLIDERS ______*/

/*______ Main Slider ______*/

.slick-slider {
	z-index: 600;
}

.main-slider {
	position: relative;
	margin-bottom: 40px;
	.slider {
		overflow: hidden;
		@media (min-width: $mob-xs) {
			height: 440px;
		};
		@media (min-width: $desk-w) {
			height: 540px;
		};
	}
	.slide {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		color: #ffffff;
		min-height: 540px;
		@media (min-width: $mob-xs) {
			padding: 50px 1%;
		};
		@media (min-width: $desk-w) {
			padding: 80px 2.1%;
		};
		img {
			position: absolute;
			top: 0;
			left: 0;
			@include object-fit;
			object-fit: cover;
		}
		&__desc {
			position: relative;
			max-width: 670px;
		}
		&__title {
			margin-bottom: 30px;

			font-weight: 300;
			@media (min-width: $mob-xs) {
				font-size: 36px;
				line-height: 42px;
			};
			@media (min-width: $tablet-w) {
				font-size: 46px;
				line-height: 52px;
			};
			@media (min-width: $desk-w) {
				font-size: 86px;
				line-height: 90px;
			};
			span {
				display: block;
				font-weight: 500;
			}
		}
		&__text {
			margin-bottom: 40px;
			font-size: 20px;
			line-height: 30px;
			font-weight: 300;
			max-height: 85px;
			overflow: hidden;
		}
	}
	.slick-dots {

		display: inline-block !important;
		@media (min-width: $mob-xs) {
			bottom: 30px;
			right: auto;
			left: auto;
			display: block;
			width: 100%;
			text-align: center;
		};
		@media (min-width: $desk-w) {
			display: inline-block;
			bottom: 110px;
			right: 120px;	
			width: auto;
		};
		li {
			margin: 0 18px;
			button {
				&:before {
					color: #ffffff;
					opacity: 1;
				}
			}
			&.slick-active {
				button {
					&:before {
						color: $orange;
						opacity: 1;
					}
				}
			}
		}
	}
	.slider__arrows {
		@media (min-width: $mob-xs) {
			display: none;
		};
		@media (min-width: $desk-w) {
			display: block;
		};
	}
}

/*______ End Main Slider ______*/

.slider__arrows {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 0;
	transform: translateY(-50%);
	z-index: 650;
}

.slide-prev,
.slide-next {
	width: 54px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	transition: color .3s, background-color .3s, border-color .3s ease;
	&.transparent {
		border-color: #ffffff;
		color: #ffffff;
		background-color: transparent;
	}
	&.white {
		border-color: #ffffff;
		color: $black;
		background-color: #ffffff;
	}
	&.gray {
		background-color: #f8f8f8;
		border-color: #f8f8f8;
		color: $black;
	}
	&:hover {
		color: #0f0f0f;
		background-color: $orange;
		border-color: $orange;
	}
}
.slide-prev {
	margin-left: 25px;
	float: left;
}
.slide-next {
	margin-right: 25px;
	float: right;
}

/*______ Tabs Slider ______*/

.manufactures-tabs {
	.tab-sw {
		margin-bottom: 40px;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		z-index: 30;
		background-color: transparent;
		li {
			margin-right: 8.4%;
		}
		a {
			text-transform: uppercase;
			@media (min-width: $mob-xs) {
				padding: 15px 0;
			};
			@media (min-width: $tablet-w) {
				padding: 30px 0;
			};
			@media (min-width: $desk-w) {
				padding: 40px 0;
			};
		}
	}
}

.tab-slider {
	position: relative;
	.slider {
		height: 565px;
		overflow: hidden;
		&.slick-initialized {
			height: auto;
		}
	}
	.tab-slider-wrapper {
		@media (min-width: $mob-xs) {
			margin: 0 0 100px;
		};
		@media (min-width: 1300px) {
			margin: 0 -33% 0 130px;
		}
	}
	.slick-list {
		margin: 0 -18px;
	}
	.slide {
		margin: 0 18px 9px;
		@media (min-width: $mob-xs) {
			padding: 0 5px;
		};
	}
	.card {
		transition: box-shadow .3s ease;
		&:hover {
			.card-wrapper {
				position: relative;
			}
			.card__options {
				display: none !important;
			}
			.card-wrapper {
				transform: scale(1);
			}
			box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
			
		}
	}
}

/*______ End Tabs Slider ______*/


/*______ Brands Slider ______*/

.brands-slider {
	position: relative;
	a {
		display: block;
		height: 100px;
		@media (min-width: $mob-xs) {
			text-align: center;
		};
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		img {
			display: inline;
		}
	}
	.slide-prev,
	.slide-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 250;
	}
	.slide-prev {
		left: -120px;
		@media (min-width: $mob-xs) {
			left: 0;
			margin-left: 0;
		};
		@media (min-width: 1300px) {
			left: -120px;
			margin-left: 25px;
		};
	}
	.slide-next {
		right: -120px;
		@media (min-width: $mob-xs) {
			right: 0;
			margin-right: 0;
		};
		@media (min-width: 1300px) {
			right: -120px;
			margin-right: 25px;
		};
	}
}

/*______ End Brands Slider ______*/



/*______ Detail Sliders ______*/

.style-door {
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: $black;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $orange;
	}
	&:hover {
		text-decoration: none;
	}
	@media (min-width: $desk-w) {
		margin-left: 36%;
		margin-bottom: 34px;
	};
}

.detail-card-sliders-wrapper {
	position: relative;
	/* `padding-bottom: 34px; */
	border-right: 2px solid $gray-bg;
	@media (min-width: $desk-w) {
		height: 100%;
	};
	.icon-zoom {
		position: absolute;
		bottom: 50px;
		right: 0;
		z-index: 100;
	}
}

.detail-card-sliders {
	padding: 54px 40px 34px 30px;
}

.detail-big-slider {
	@media (min-width: $desk-w) {
		margin-right: 0;
		width: 87%;
		float: right;
		.slider {
			height: 768px;
			overflow: hidden;
			&.slick-initialized {
				overflow: visible;
				height: auto;
			}
		}
		.slide {
			a {
				position: relative;
				min-width: 384px;
				display: block;
				text-align: center;
				z-index: 200;
			}
			img {
				display: inline;
			}
		}
	};
}

.detail-preview-slider {
	@media (min-width: $desk-w) {
		margin-top: 72px;
		width: 13%;
		float: left;
	};
	.slider {
		padding: 88px 0;
	}
	.slide {
		margin-bottom: 25px;
		width: 58px;
		height: 127px;
		transition: opacity .3s ease;
		text-align: center;
		img {
			display: inline;
			max-height: 100%;
		}
		&.slick-current {
			opacity: .5;
		}
	}
	.slick-prev, .slick-next {
		width: 48px;
		height: 48px;
		line-height: 48px;
		border-radius: 50%;
		background-color: #ededed;
		text-align: center;
		z-index: 320;
		&:before {
			display: none;
		}
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			font-size: 16px;
			color: #0f0f0f;
			transform: translate(-50%, -50%);
		}
	}
	.slick-prev {
		@media (min-width: $desk-w) {
			transform: rotate(90deg) translateY(50%);
			top: 0;
			left: 50%;
		};
	}
	.slick-next {
		@media (min-width: $desk-w) {
			transform: rotate(-90deg) translateY(50%);
			top: auto;
			bottom: 26px;
			right: 50%;

		};
	}
}

/*______ End Detail Sliders ______*/



/*______ Products Slider ______*/

.products-slider {
	position: relative;
	margin-bottom: 50px;
	.slider-wrapper {
		position: relative;
	}
	.slider {
		height: 565px;
		overflow: hidden;
		&.slick-initialized {
			height: auto;
			overflow: visible;
		}
		.slick-list {
			margin: 0 -16px;
		}
		.slide {
			margin: 0 16px;
			padding: 40px 0 30px;
			background-color: #ffffff;
			&__img {
				margin-bottom: 30px;
				min-height: 260px;
				text-align: center;
				img {
					display: inline;
				}
			}
			&__article {
				margin-bottom: 15px;
				padding: 0 30px;
				color: #727271;
				font-size: 14px;
				line-height: 20px;
				font-weight: 300;
			}
			&__product-name {
				margin-bottom: 25px;
				padding: 0 15px 0 30px;
				color: #0f0f0f;
				font-size: 18px;
				line-height: 24px;
				font-weight: 300;
			}
			&__price {
				padding: 0 30px;
				span {
			    margin-right: 16px;
			    font-size: 18px;
			    line-height: 21px;
			    &:empty {
			    	margin-right: 0;
			    }
			    &.current-price {
			    	font-weight: 500;
			    }
				}
			}
		}
	}
	.slide-prev,.slide-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.slide-prev {
		left: 0;
		margin-left: 15px;
	}
	.slide-next {
		right: 0;
		margin-right: 15px;
	}
	&.office-slider {
		.slide {
			padding: 0;
			background-color: transparent;
		}
		.slide__img {
			margin-bottom: 0;
			min-height: auto;
		}
		.slide-prev,.slide-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		.slide-prev {
			left: 0;
		}
		.slide-next {
			right: 0;
		}
	}
}

.detail-furniture-slider {
	position: relative;
	height: 316px;
	overflow: hidden;
	.slide {
		text-align: center;
		img {
			display: inline-block;
		}
	}
	.slide-prev,.slide-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.slide-prev {
		left: 0;
	}
	.slide-next {
		right: 0;
	}
}


/*______ End Products Slider ______*/
