/*______ HEADER ______*/

.top-bar {
	padding: 18px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e9ebee;
}

.tel-wrapper {
	width: 32%;
	display: flex;
	align-items: center;
	@media (min-width: 960px) and (max-width: 1300px) {
		width: 20%;
		flex-wrap: wrap;
	}
	span {
		margin-right: 20px;
		color: $gray-tx;
		font-size: 13px;
		line-height: 16px;
	}
	a {
		color: $black;
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
	}
}

.top-bar-info {
	width: 58%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $mainFont !important;
	font-size: 13px;
	line-height: 16px;
	@media (min-width: 960px) and (max-width: 1300px) {
		width: 70%;
	}
	.address,
	.call-spec,
	.callback,
	.mail {
		a {
			font-family: $mainFont !important;
			&:before {
				padding-right: 16px;
				font-family: 'icomoon' !important;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	.address {
		font-size: 13px;
		i {
			&:before {
				padding-right: 16px;
			}
		}
	}
	.mail {
		a {
			&:before {
				font-size: 10px;
			}
		}
	}
}

.auth {
	width: 10%;
	text-align: right;
	font-size: 14px;
}

.bottom-bar {
	padding: 7px 0 12px;
	&__inner {
		height: 100%;
		justify-content: space-between;
	}
	a.logo {
		display: block;
		text-align: center;
	}
}

.page-nav {
	margin-right: 4%;
	width: 69.5%;
	.nav-list {
		@include list-reset;
		display: flex;
		justify-content: space-between;
		&>li {
			position: relative;
			&:hover {
				&>a {
					z-index: 50;
				}
				.nav-sublist {
					opacity: 1;
					visibility: visible;
					z-index: 49;
				}
			}
			&>a {
				position: relative;
				font-size: 14px;
				line-height: 1;
				font-weight: 400;
				color: $gray-tx;
				transition: all .3s ease;
				z-index: 20;
				&:hover {
					color: $black;
					text-decoration: none;
				}
			}
		}
	}
	.nav-sublist {
		position: absolute;
		top: -16px;
		left: -16px;
		@include list-reset;
		padding: 56px 16px 18px;
		min-width: 140px;
		box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
		background-color: #ffffff;
		transition: all .3s ease;
		display: block;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		li {
			padding: 10px 0;
			&:first-child {
				padding-top: 18px;
				border-top: 1px solid #e9ebee;
			}
			a {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}



.compare {
	position: relative;
	display: flex;
	align-items: center;
	width: 11.5%;
	@media (min-width: 960px) and (max-width: 1300px) {
		width: 14.5%;
	}
	a {
		text-decoration: none;
		font-family: $mainFont !important;
		font-size: 14px;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: 'icomoon' !important;
		}
	}
	&__text {
		margin-left: 31px;
		font-size: 14px;
		line-height: 1;
		
	}
	&__count {
		color: $black;
	}
}


.basket {
	min-width: 112px;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: flex-end;
	&-icon {
		margin-right: 20px;
		width: 39px;
		height: 39px;
		display: inline-block;
		line-height: 39px;
		text-align: center;
		background-color: $orange;
		transition: background-color .3s ease;
		i {
			font-size: 14px;
		}
	}
	.basket-value {
		font-size: 14px;
		color: $black;
	}
	&:hover {
		.basket-icon {
			background-color: $purpule;
		}
	}
}


/*______ Mobile Header ______*/

.header-mobile {
	padding: 15px 0;
}

.mobile-logo {
	display: inline-block;
	max-width: 80px;
}

.mobile-tel {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 16px;
	color: $black;
	font-weight: 500;
	span {
		display: block;
		font-size: 12px;
	}
	@media (min-width: $mob-xs) {
		margin-top: 5px;
	};
}

.mobile-menu {
	@include list-reset;
	margin-top: 7px;
	text-align: right;
	li {
		margin-left: 8px;
		padding: 3px;
		display: inline-block;
		vertical-align: top;
		a {
			&:before {
				color: $orange;
				font-size: 20px;
			}
			&.icon-menu {
				font-weight: bold;
			}
			&:hover,&:focus {
				text-decoration: none;
			}
		}
	}
}

.mobile-link {
	position: relative;
	margin-right: 10px;
	padding-left: 25px;
	display: inline-block;
	vertical-align: top;
	font-family: $mainFont !important;
	font-size: 14px;
	@media (min-width: $mob-s) {
		float: left;
	};
	&:hover {
		text-decoration: none;
	}
	&:before {
		font-family: 'icomoon' !important;
    position: absolute;
    top: 0;
    left: 0;
	}
}


.uk-offcanvas-bar {
	background-color: $gray-bg;
	@media (min-width: $mob-xs) {
		padding: 0 0 20px;
	};
	a {
		color: $black;
	}
	.top-panel {
		padding: 20px 20px 15px;
		border-bottom: 1px solid #d6d6d6;
		a {
			position: relative;
			margin-bottom: 12px;
			padding-left: 25px;
			display: block;
			font-size: 16px;
			font-family: $mainFont !important;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				font-family: 'icomoon' !important;
				color: $orange;
				font-size: 14px;
			}
			&.icon-envelope {
				&:before {
					top: 3px;
					font-size: 10px;
				}
			}
		}
	}
	.compare {
		width: 100%;
		a {
			display: block;
			width: 100%;
		}
		&__text {
			font-size: 16px;
		}
	}
	.compare__text {
		margin-left: 0;
	}
	.offcanvas-nav {
		@include list-reset;
		padding: 0;
		&>li {
			margin-bottom: 2px;

			&>a {
				position: relative;
				padding: 18px 20px;
				display: block;
				font-size: 16px;
				line-height: 22px;
				border-bottom: 1px solid #d6d6d6;
				&:hover,&:focus {
					color: $black;
					text-decoration: none;
				}
				i.small-arrow {
					position: absolute;
					top: 20px;
					right: 20px;
					width: 20px;
					height: 20px;
					display: block;
					-webkit-transition: -webkit-transform .3s ease;
					transition: -webkit-transform .3s ease;
					-o-transition: transform .3s ease;
					-moz-transition: transform .3s ease, -moz-transform .3s ease;
					transition: transform .3s ease;
					transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
					-webkit-transform-origin: center center;
					-moz-transform-origin: center center;
					-ms-transform-origin: center center;
					transform-origin: center center;
					transform: rotate(90deg);
					&:before {
						font-size: 10px;
					}
					&.open {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
	.menu-sublist {
		display: none;
		border-bottom: 1px solid #d6d6d6;
		li {
			a {
				padding: 12px 0 12px 0;
				display: block;
    		opacity: .7;
    		font-size: 16px;
			}
		}
	}
}



/*______ End Mobile Header ______*/
