/*______ Restyle Bitrix Components ______*/

.bx-authform {
	padding: 25px;
	max-width: none;
	background: #ffffff;
	form {
		max-width: 500px;
		label {
			font-weight: bold;
		}
	}
}

.alert-danger {
	max-width: 500px;
}

.basket-items-list {
	padding: 0;
}

table.basket-items-list-table {
	tr {
		background-color: #ffffff;
		td {
			padding: 20px 45px;
			border-bottom: 1px solid #ededed;
		}
	}
	.basket-item-block-price {
		padding-top: 0;
	}
	.basket-item-block-image {
		padding-bottom: 0;
	}
}

div.bx-green .btn.btn-default {
	background-color: #fa7f4c;
	border-color: #fa7f4c;
}

div.bx-green .btn.btn-default:hover {
	border-color: #4848bc;
	background-color: #4848bc;
}

.basket-items-list-item-price {
	min-height: 93px;
}

.basket-items-list {
	overflow-x: auto;
}

.basket-items-list-item-descriptions-inner {
	min-width: 200px;
}

.basket-item-actions-remove:after, .basket-item-actions-remove:before {
	background: #e8656d;
}

.basket-item-property, .basket-item-property-custom {
	margin-bottom: 5px;
}

.basket-item-property-name, .basket-item-property-custom-name,
.basket-item-property-value, .basket-item-property-custom-value {
	margin-bottom: 10px;
	font-size: 16px;
}

.basket-item-property:last-child .basket-item-property-value {
	margin-bottom: 0;
}

.basket-item-amount-btn-minus,
.basket-item-amount-btn-plus {
	display: inline-block;
	vertical-align: top;
	width: 36px;
	height: 56px;
	background-color: #ededed;
	font-size: 20px;
	line-height: 56px;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	&:active,&:focus,&:hover {
		color: #ffffff;
		background-color: #fa7f4c;
	}
}

.basket-item-amount-btn-minus {
	border-radius: 3px 0 0 3px;
}

.basket-item-amount-btn-plus {
	border-radius: 0 3px 3px 0;
}

.basket-item-amount-filed, .basket-item-block-amount.disabled .basket-item-amount-filed:hover {
	display: inline-block;
	vertical-align: top;
	height: 56px !important;
	width: 33px;
	font-family: "SF";
	font-weight: 300;
	text-align: center;
	background-color: #ededed;
	border: none;
	outline: none;
}

.basket-item-block-amount {
	padding: 0;
	.basket-item-amount-filed-block {
		width: 33px;
		input[type="text"] {
			padding: 0;
			border: none;
		}
	}
}

.bx-authform-social {
	display: none;
}

.alert-danger {
	color: #ffffff;
	background-color: #e8656d;
	border-color: #e8656d
}

.bx-filter {
	min-width: auto;
}

.bx-filter.bx-green .bx-filter-section {
	padding: 0;
	background: #ffffff;
}

.bx-filter {
	font-family: $mainFont;
	.bx-filter-title {
		margin: 0;
		padding: 20px 25px;
		font-size: 14px;
		border-bottom: 2px solid #ededed;
	}
	.bx-filter-parameters-box {
		padding: 25px 30px;
		border-bottom: 2px solid #ededed;
	}
	.bx-filter-button-box {
		.btn-themes {
			padding: 16px 0;
			width: 100%;
			background-color: $orange;
			border: none;
			&:hover,&:focus {
				background-color: #4848bc;
			}
		}
		.btn-link {
			padding: 0;
			display: block;
			width: 100%;
			color: #727271;
			font-size: 14px;
			font-weight: 400;
			text-transform: none;
			letter-spacing: 1px;
			border: none;
			background-color: transparent;
		}
		.bx-filter-parameters-box {
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.bx-filter-parameters-box-container {
		padding-top: 10px;
		padding-bottom: 0;
		&.padding-bottom {
			padding-bottom: 25px;
		}
	}
	.bx-filter-parameters-box-title {
		padding-bottom: 0;
		font-size: 14px;
		color: $black;
		span {
			position: relative;
			display: block;
			width: 100%;
			color: $black;
			border: none;
			&:hover {
				border: none;
			}
			i {
				position: absolute;
				top: 13px;
				right: 0;
				transform: translateY(-50%);
				&.fa-angle-down {
					border-top: 6px solid #5d5d60;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
				}
				&.fa-angle-up {
					border: none;
					border-bottom: 6px solid #5d5d60;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
				}
				&:before {
					display: none;
				}
			}
		}
	}
	.bx-filter-input-checkbox .bx-filter-param-text {
		display: inline-block;
	}
	label {
		padding-left: 0;
	}
	.checkbox {
		margin-top: 0;
		margin-bottom: 0;
	}
	.col-xs-12 {
		.checkbox {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.bx-filter-input-container {
		input {
			padding: 0 10px;
			border-color: #ededed;
			border-radius: 3px;
			font-size: 14px;
			text-align: right;
			color: #727271;
			font-family: $mainFont;
			&:focus {
				border-color: #ededed !important;
			}
		}
	}
	.bx-ui-slider-part {
		top: 28px;
		background: transparent !important;
		&.p2,&.p3,&.p4 {
			display: none;
		}
		span {
			font-size: 14px;
			color: #727271;
		}
	}
	.bx-ui-slider-track {
		height: 3px;
	}
	.bx-ui-slider-pricebar-vn {
		background: #ebeef1 !important;
	}
	.bx-ui-slider-pricebar-v {
		background: $orange !important;
	}
	.bx-ui-slider-handle {
		top: -7px;
		width: 16px;
		height: 16px;
		background: #5d5d60 !important;
		border-radius: 50%;
		&.left {
			margin-left: -16px;
		}
		&.right {
			margin-right: -16px;
		}
	}
	.bx-ui-slider-range {
		z-index: 650;
	}
	.bx-ui-slider-track-container {
		padding-top: 25px;
		padding-bottom: 0;
	}
	.custom-checkbox {
		&:after {
			top: 1px;
		}
	}
	.bx-filter-input-container {
		input.min-price,
		input.max-price {
			height: 40px;
			line-height: 40px;
			border: 1px solid #ededed;
			border-radius: 3px;
			background-color: transparent;
		}
	}
}

.sale-order-list-title-container {
	background-color: $orange;
}

.sale-order-list-inner-container {
	background-color: #ffffff;
	border-color: $gray-bg;
	border-left: none;
	border-right: none;
}

.sale-personal-section-index-block.bx-theme-green {
	border: 1px solid $gray-bg;
	background: #ffffff;
}

.sale-personal-section-index-block-name {
	font-weight: 500;
	line-height: 24px;
}

.sale-personal-section-index-block-ico {
	font-size: 0;
	display: block;
}

.sale-personal-section-index-block {
	&:hover {
		svg {
			transform: scale(1.05);
		}
	}
}

.sale-order-list-title {
	margin: 0;
	padding: 10px 15px;
	color: #ffffff;
	font-weight: 500;
	font-family: $mainFont;
}

.auth-icon {
	fill: $orange;
	transition: transform .3s ease;
}

.bx-sap {
	padding-bottom: 15px;
	background-color: #ffffff;
	.btn {
		background-color: $orange;
		&:hover {
			background-color: #4848bc;
		}
	}
}

.sale-personal-account-wallet-title {
	background-color: #ffffff;
	color: $black;
}

.sale-personal-account-wallet-list-container,
.sale-order-detail-general-head {
	background-color: $orange;
}

.sale-order-detail-general {
	margin-bottom: 30px;
	border-color: $orange;
}

.sale-order-detail-about-order-inner-container-repeat-button {
	background-color: $orange;
	&:hover {
		text-decoration: none;
		background-color: #4848bc;
	}
}

.sale-personal-account-wallet-currency-item {
	font-family: $mainFont;
	color: #ffffff;
}

.sale-order-detail {
	padding: 15px 25px;
	background-color: #ffffff;
}

.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item {
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid #ededed;
	transition: border-color .3s, background .3s ease;
	&:hover {
		background: $orange;
		border-color: $orange;
		color: #ffffff;
	}
}

.sale-order-detail-order-item-imgcontainer {
	border-color: #ededed;
}

.bx_profile {
	padding: 25px;
	background: #ffffff;
	form {
		max-width: 400px;
	}
	.form-group {
		margin-bottom: 15px;
		display: block;
		label {
			margin-bottom: 12px;
			font-size: 14px;
		}
	}
}

.bx_bt_button {
	padding: 16px 42px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	font-weight: 700;
	border-radius: 3px;
	background-color: $orange;
	cursor: pointer;
	border: none;
	outline: none;
	transition: background-color .3s ease;
	&:hover {
		color: #ffffff;
		background-color: $purpule;
		text-decoration: none;
	}
}

.sale-order-list-container {
	font-family: $mainFont;
	background: #ffffff;
	.sale-order-list-accomplished-title {
		margin: 10px 0;
		color: #ffffff;
	}
	a {
		color: $gray-tx;
		text-decoration: none;
		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
}

.sale-order-list-accomplished-date,
.sale-order-list-accomplished-date-number {
	color: #ffffff;
}

.sale-order-list-accomplished-title-container {
	background: $orange;
}

.main-profile-form-buttons-block {
	margin-bottom: 0;
}

.main-profile-social-block {
	display: none;
}

#bx-soa-order .bx-sls .dropdown-block input[type="text"] {
	height: 34px;
}

#bx-soa-order .soa-property-container input[type="text"],
#bx-soa-order .soa-property-container textarea {
	background-color: #ffffff !important;
}

#bx-soa-order .bx-soa-location-input-container input[type="text"] {
	height: 34px;
	background-color: #ffffff;
}

#bx-soa-order .soa-property-container input[type="text"] {
	height: 34px;
	line-height: 34px;
}
#bx-soa-order textarea {
	min-height: 100px;
	resize: vertical;
	background-color: #ffffff !important;
}

.bx-soa-section-content,
.bx-soa-cart-total {
	background: #ffffff;
}

.smartfilter .min-price,
.smartfilter .max-price {
	padding: 0 12px !important;
	font-size: 14px !important;
}

@media (max-width: 480px) {
	.basket-checkout-container {
		.basket-checkout-block-total-price,
		.basket-checkout-block-total-price-inner,
		.basket-checkout-block {
			min-width: auto;
			width: auto;
		}
	}
}

@media (max-width: 767px) {
	.basket-items-list-item-container.basket-items-list-item-container-gift, .basket-items-list-item-container.basket-items-list-item-container-gift > td, .basket-items-list .basket-items-list-item-container:first-child > td {
		margin: 0;
		padding-top: 20px;
		border-top: none !important;
	}
}

@media (min-width: $desk-w) {
	.basket-item-property-name, .basket-item-property-custom-name,
	.basket-item-property-value, .basket-item-property-custom-value {
		width: 100%;
	}	
};
