/*______ Start Catalog ______*/

.catalog {
	position: relative;
	padding-bottom: 10px;
	z-index: 100;
}

.catalog-header {
	position: relative;
	overflow: hidden;
	&:after {
		@media (min-width: $desk-w) {
			/* content: ''; */
			position: absolute;
			top: -41px;
			right: -137px;
			width: 537px;
			height: 537px;
			display: block;
			background: url('../img/catalog-door.png') 100% 0 no-repeat;
			z-index: -1;
		};
	}
}

.catalog-body {
	font-size: 0;
	.card {
		
		margin-bottom: 32px;
		width: 100%;
		@media (min-width: $tablet-w) {
			margin-right: 10%;
			width: 45%;
			&:nth-child(2n) {
				margin-right: 0;
			}
		};
		@media (min-width: $desk-w) {
			margin-right: 2.66666%;
			width: 23%;
			&:nth-child(2n) {
				margin-right: 2.66666%;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		};
		&:hover {
			z-index: 999;
			.card__article {
				display: none;
			}
		}
	}
}

.catalog-bar {
	margin-bottom: 28px !important;
	background-color: #ffffff;
	@media (min-width: $mob-xs) {
		padding: 12px;
	};
	@media (min-width: $mob-s) {
		padding: 12px 22px;
	};
	.custom-select {
		margin-top: 6px;
		@media (min-width: $mob-xs) {
			margin-bottom: 25px;
			float: right;
		};
		@media (min-width: $tablet-w) {
			margin-bottom: 0;
			float: none;
		};
	}
}

.filter-btn {
	position: relative;
	margin-top: 6px;
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid $orange;
	background-color: #ffffff;
	z-index: 705;
	color: $orange;
	&:before {
		font-size: 16px;
	}
	&.open {
		border-bottom-color: #ffffff;
		&:before {
			content: "\e90e";
		}
	}
	@media (min-width: $tablet-w) {
		margin-right: 15px;
	};
}

.mobile-filter {
	position: absolute;
	top: 46px;
	left: 12px;
	padding: 0;
	width: 100%;
	max-width: 266px;
	z-index: 700;
	border: 1px solid $orange;
	background-color: #ffffff;
	display: none;
	@media (min-width: $tablet-w) {
		left: 22px;
	};
}

/*______ End Catalog ______*/
