/*______ CONTENT ______*/

section.page-content {
	position: relative;
	padding: 36px 0 0;
	background: $gray-bg;
	&.page-content-img {
		&:after {
			@media (min-width: $desk-w) {
				content: '';
				position: absolute;
				top: 5px;
				right: -137px;
				width: 537px;
				height: 537px;
				display: block;
				background-position: 100% 0;
				background-repeat: no-repeat;
				z-index: 1;
			};
		}
		&.door {
			&:after {
				@media (min-width: $desk-w) {
					background-image: url('../img/catalog-door.png');
				};
			}
		}
		&.furnitura {

			&:after {
				@media (min-width: $desk-w) {
					width: 664px;
					background-image: url('../img/furnintura-bg.png');
				};
			}
		}
		&.faq-door {
			&:after {
				@media (min-width: $desk-w) {
					background-image: url('../img/faq-bg-img.png');
				};
			}
		}
		&.manufac {
			&:after {
				@media (min-width: $desk-w) {
					background-image: url('../img/manufactures-bg.png');
				};
			}
		}
		&.map {
			&:after {
				top: 0;
				right: 0;
				@media (min-width: $desk-w) {
					width: 100%;
					background-image: url('../img/map-opacity.png');
				};
			}
		}
	}
	&>.uk-container {
		position: relative;
		z-index: 2;
	}
	p {
		margin-bottom: 30px;
		font-weight: 300;
	}
	table {
		width: 100%;
		border-collapse: collapse;
		font-size: 16px;
		tr {
			&:nth-child(odd) {
				background-color: #f8f8f8;
			}
			&:nth-child(even) {
				
			}
		}
		td {
			padding: 12px 45px;
		}
	}
	ul:not([class]) {
		@include list-reset;
		margin-bottom: 25px;
		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 33px;
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 5px;
				height: 5px;
				display: block;
				background-color: $orange;
				border-radius: 50%;
			}
		}
	}
	ol:not([class]) {
		@include list-reset;
		margin-bottom: 25px;
		counter-reset: section;
		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 35px;
			&:before {
				content: counter(section);
				counter-increment: section;
				position: absolute;
				top: 4px;
				left: 0;
				display: block;
				width: 18px;
				height: 18px;
				text-align: center;
				font-size: 14px;
				line-height: 18px;
				border-radius: 50%;
				color: #ffffff;
				background-color: $orange;
			}
		}
	}
	img {
		transition: all .3s ease;
		&[data-lazy],
		&[data-src] {
			filter: blur(3px);
		}
	}
}

.content {
	padding-bottom: 40px;
}

.products-short-list {
	.item {
		margin-bottom: 40px !important;
		width: 100%;
		height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
		&.item--full-height {
			@media (min-width: $mob-xs) {
				height: 300px;
			};
			@media (min-width: $tablet-w) {
				margin-bottom: 0 !important;
				height: 500px;
			};
		}
		&[data-src] {
			background-size: 25px 25px;
		}
		a {
			position: relative;
			display: block;
			height: 100%;
			text-decoration: none;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .6);
				transition: background-color .3s ease;
				z-index: 10;
			}
			&:hover {
				.item__text {
					background-color: $purpule;
				}
				&:after {
					background-color: transparent;
				}
			}
		}
		&__text {
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 20px 25px;
			width: 100%;
			color: #ffffff;
			background-color: transparent;
			transition: background-color .3s ease;
			z-index: 12;
		}
		&__type {
			margin-bottom: 5px;
			font-size: 24px;
			font-weight: 300;
		}
		&__price {
			font-size: 18px;
			line-height: 24px;
			font-weight: 500;
		}
	}
}


/*______ About manufactures ______*/

.about-manufactures {
	.title-h1 {
		margin-bottom: 55px;
	}
	.text {
		background: #ffffff url('../img/manufactures-bg.png') right 33px no-repeat;
		@media (min-width: $mob-xs) {
			padding: 60px 15px 130px;
		};
		@media (min-width: $desk-w) {
			padding: 100px 0 130px;
		};
	}
	p {
		font-size: 18px;
		line-height: 30px;
		font-weight: 300;
		@media (min-width: $desk-w) {
			max-width: 79%;
		};
	}
}

/*______ End About manufactures ______*/



/*______ Advantages list ______*/

.advantages-list {
	position: relative;
	margin-top: -32px;
	margin-bottom: 60px !important;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media (min-width: $mob-xs) {
		padding: 0 15px;
		max-width: 100%;
	};
	@media (min-width: $desk-w) {
		padding: 0;
		max-width: 78%;
	};
	.item {
		margin-right: 6.6666%;
		width: 20%;
		&:last-child {
			margin-right: 0;
		}
		@media (min-width: $mob-xs) {
			margin-right: 0;
			margin-bottom: 30px;
			width: 45%;
			margin-right: 10%;
			&:nth-child(2n) {
				margin-right: 0;
			}
		};
		@media (min-width: $tablet-w) {
			margin-right: 6.6666%;
			margin-bottom: 0;
			width: 20%;
			&:nth-child(2n) {
				margin-right: 6.6666%;
			}
			&:last-child {
				margin-right: 0;
			}
		};
		&__img {
			margin-bottom: 20px;
			height: 86px;
		}
		&__title {
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 24px;
			font-weight: 500;
		}
		&__text {
			color: #727271;
			font-size: 14px;
			line-height: 20px;
			font-weight: 300;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 200px;
		left: -300px;
		display: block;
		width: 750px;
		height: 500px;
		background: url('../img/door.png') center -100px no-repeat;
		z-index: 1;
	}
}

/*______ End Advantages list ______*/



/*______ Manufactures tabs ______*/

.manufactures-tabs {
	position: relative;
	z-index: 25;
	@media (min-width: $mob-xs) {
		margin-bottom: 0 !important;
	};
	@media (min-width: $desk-w) {
		margin-bottom: 100px !important;
	};
	ul[uk-switcher] {
		padding-left: 17.3%;
		@media (min-width: $mob-xs) {
			padding: 0;
		};
		@media (min-width: $desk-w) {
			padding-left: 17.3%;
			margin-right: 36px;
		};
	}
	.uk-switcher {
		background: $gray-bg;
		@media (min-width: $mob-xs) {
			padding: 40px 0;
		};
		@media (min-width: $desk-w) {
			padding: 40px 36px;
		};
	}
}

/*______ End manufactures tabs ______*/


.white-section {
	margin-bottom: 50px;
	background-color: #ffffff;
	@media (min-width: $mob-xs) {
		padding: 60px 0;
	};
	@media (min-width: $desk-w) {
		padding: 100px 0;
	};
}


/*______ Brands list ______*/

.brands-list {
	max-width: 908px;
	@media (min-width: $mob-xs) {
		margin: 0 auto 60px;
	};
	@media (min-width: $desk-w) {
		margin: 0 auto 120px;
	};
	&__header {
		position: relative;
		.show-more {
			position: absolute;
			top: 50%;
			right: 0;
		}
	}
}

.brands-page-list {
	margin: 0 -30px;
	padding: 0 30px;
	display: flex;
	flex-wrap: wrap;
	@media (min-width: $mob-xs) {
		justify-content: center;
	};
	@media (min-width: $desk-w) {
		justify-content: unset;
	};
	.brand-item {
		margin: 0 2.6% 30px 0;
		width: 23%;
		text-align: center;
		background-color: #ffffff;
		@media (min-width: $mob-xs) {
			width: 263px;
		};
		@media (min-width: $mob-s) {
			width: 45%;
		};
		@media (min-width: $tablet-w) {
			width: 37%;
		};
		@media (min-width: $desk-w) {
			width: 23%;
			&:nth-child(4n) {
				margin-right: 0;
			}
		};
		a {
			padding: 25px 10px;
			display: block;
			&:hover {
				color: $black;
				text-decoration: none;
				box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
			}
		}
		&__img {
			margin-bottom: 10px;
			height: 100px;
			&:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			img {
				display: inline;
			}
		}
		&__name {
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
		}
	}
}

/*______ End Brands list ______*/


/*______ Seo Text ______*/

.seo-text {
	margin-bottom: 40px;
	font-weight: 300;
}

/*______ End Seo Text ______*/


/*______ Lead Text ______*/

.lead-text {
	font-size: 21px;
	line-height: 32px;
}

/*______ End Lead Text ______*/


/*______ About company ______*/

.about-company {
	.gray-block {
		@media (min-width: $mob-xs) {
			margin-bottom: 100px;
			background: none;
		};
		@media (min-width: $tablet-w) {
			background: url('../img/map-bg.svg') center center no-repeat;
			background-size: cover;
		};
		@media (min-width: $desk-w) {
			margin-bottom: 130px;
		};
	}
	&__title {
		margin-bottom: 40px;

		font-weight: 300;
		@media (min-width: $mob-xs) {
			font-size: 36px;
			line-height: 42px;
		};
		@media (min-width: $tablet-w) {
			font-size: 50px;
			line-height: 60px;
		};
		@media (min-width: $desk-w) {
			font-size: 86px;
			line-height: 100px;
		};
		span {
			display: block;
			font-weight: 500;
		}
	}
	p {
		line-height: 30px;
		font-weight: 300;
	}
	.btn {
		margin-top: 56px;
	}
	&__text {
		margin: 0 auto;
		max-width: 1140px;
	}
	.text-section {
		margin-bottom: 80px;
		@media (min-width: $mob-xs) {
			margin-bottom: 40px;
		};
		@media (min-width: $tablet-w) {
			margin-bottom: 80px;
		};
		.text,
		.img {
			@media (min-width: $mob-xs) {
				width: 100%;
			};
			@media (min-width: $tablet-w) {
				width: 48%;
			};
		}
		.img {
			@media (min-width: $mob-xs) {
				margin-bottom: 15px;
			};
			@media (min-width: $tablet-w) {
				margin-bottom: 0;
			};
		}
		.title-h1 {
			margin-bottom: 50px;
		}
		p {
			max-width: 432px;
		}
		&:nth-child(odd) {
			.text {
				float: right;
			}
			.img {
				float: left;
			}
		}
		&:nth-child(even) {
			.text {
				float: left;
			}
			.img {
				float: right;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.about-company-detail {
	.section {
		margin-bottom: 30px;
		padding: 45px 40px;
		background-color: #ffffff;
		@media (min-width: $mob-xs) {
			padding: 30px 15px;
		};
		@media (min-width: $tablet-w) {
			padding: 45px 40px;
		};
		img {
			margin-bottom: 30px;
		}
	}
}

/*______ End About company ______*/


/*______ Regions List ______*/



/*______ ENd Regions List ______*/

.regions-list {
	margin-bottom: 70px;
	background-color: #ffffff;
	&__header {
		padding: 20px 40px;
		border-bottom: 1px solid #ededed;
		h2,.title-h2 {
			margin-bottom: 0;
		}
	}
	&__body {
		ul {
			@include list-reset;
			margin-bottom: 0;
			padding: 40px;
			border-right: 1px solid #ededed;
			@media (min-width: $mob-xs) {
				border-bottom: 1px solid #ededed;
			};
			@media (min-width: $desk-w) {
				border-bottom: none;
			};
			li {
				margin-bottom: 20px;
				padding-left: 0;
				a {
					color: $black;
					&:hover {
						color: #4848bc;
						text-decoration: none;
					}
				}
				&:before {
					display: none;
				}
			}
		}
	}
}

/*______ Attantion block ______*/

.attantion-block {
	position: relative;
	margin: 0 auto;
	padding-left: 75px;
	padding-bottom: 55px;
	max-width: 985px;
	@media (min-width: $mob-xs) {
		padding-right: 15px;
	};
	@media (min-width: $desk-w) {
		padding-right: 0;
	};
	&.attantion-block--left {
		margin: 0;
		max-width: none;
		@media (min-width: $mob-xs) {
			padding-left: 75px;
			&:before {
				left: 0;
			}
		};
		@media (min-width: $desk-w) {
			padding-left: 0;
			&:before {
				left: -80px;
			}
		};
	}
	&.attantion-block--center {
		margin: 0 auto;
		padding-bottom: 0;
		max-width: 907px;
	}
	p {
		color: #727271;
		font-size: 14px;
		line-height: 20px;
		font-weight: 300;
	}
	&:before {
		content: '*';
		position: absolute;
		top: 0;
		left: 0;
		font-size: 86px;
		line-height: 86px;
		color: $orange;
		font-weight: 300;
	}
}

/*______ End Attantion block ______*/



/*______ Revies Block ______*/

.reviews-list {
	margin-top: 30px;
	&.tabs {
		margin: 0 -36px 30px;
		.review {
			margin-bottom: 0;
			padding: 30px 30px 10px;
			border-bottom: 2px solid #ededed;
			&:first-child {
				padding-top: 0;
			}
		}
	}
}

.review {
	margin-bottom: 10px;
	padding: 30px;
	background-color: #ffffff;
	transition: box-shadow .3s ease;
	&:last-child {
		margin-bottom: 0;
	}
	&:hover {
		box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
	}
	&__top {
		margin-bottom: 15px;
		display: flex;
		flex-wrap: wrap;
		color: #7f7f7e;
		font-size: 16px;
		font-weight: 300;
	}
	&__user {
		&>div {
			display: inline-block;
			vertical-align: top;
		}
		@media (min-width: $mob-xs) {
			width: 100%;
		};
		@media (min-width: $mob-s) {
			width: auto;
		};
	}
	&__text {
		margin-bottom: 20px;
	}
}

/*______ End Revies Block ______*/
