
/*______ Detail v1 ______*/

.detail-card {
	position: relative;
	margin-bottom: 10px;
	background-color: #ffffff;
	z-index: 250;
}

.detail-top-bar {
	margin-bottom: 25px;
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	&>* {
		margin-right: 35px;
	}
}

.detail-title {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 400;
}

.detail-section {
	padding: 30px 40px;
	border-bottom: 2px solid #ededed;
}

.detail-section-controls {
	border-bottom: 2px solid #ededed;
	.detail-section {
		padding: 40px 40px 20px;
		.btn-wrapper {
			margin-right: 0;
		}
	}

}

.no-border{
	border: none !important;
}

.furniture-price {
	width: 31%;
	.old-price {
		margin-bottom: 6px;
		color: #0f0f0f;
		opacity: 0.5;
		font-size: 18px;
		line-height: 21px;
		font-weight: 300;
		text-decoration: line-through;
		&:empty {
			margin-bottom: 0;
		}
	}
	.current-price {
		color: #0f0f0f;
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
	}
}

.product-availability {
	position: relative;
	padding-left: 38px;
	&:before {
		top: 0;
		left: 0;
	}
}

.product-compare {
	position: relative;
	padding-left: 35px;
	color: $gray-tx;
	i.icon-compare {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	a {
		text-decoration: underline;
	}
}

.type-of-prices {
	position: relative;
	border-bottom: 2px solid $gray-bg;
	i.check {
		position: absolute;
		display: block;
		top: 22px;
		right: 25px;
		opacity: 0;
		transition: opacity .3s ease;
		&:before {
			position: static;
			background-color: $gray-bg;
			transition: background-color .3s ease;
		}
	}
	.item {
		position: relative;
		width: 100%;
		cursor: pointer;
		min-height: 114px;
		&.left-pos {
			border-right: 1px solid $gray-bg;
			&:hover {
				.item__inner {
					position: absolute;
					top: 0;
					left: 0;
					width: 320px;
					box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
				}
				.item__text {
					display: block;
				}
			}
		}
		&.right-pos {
			border-left: 1px solid $gray-bg;	
			&:hover {
				.item__inner {
					position: absolute;
					top: 0;
					right: 0;
					width: 320px;
					box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
				}
				.item__text {
					display: block;
				}
			}
		}
		&.checked {
			i.check {
				opacity: 1;
				&:before {
					background-color: $orange;
				}
			}
			.item__value {
				color: #4848bc;
			}
			.item__inner {
				z-index: 450;
			}
			&.left-pos {
				.item__inner {
					position: absolute;
					top: 0;
					left: 0;
					width: 320px;
					box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
				}

			}
			&.right-pos {
				.item__inner {
					position: absolute;
					top: 0;
					right: 0;
					width: 320px;
					box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
				}
			}

			.item__text {
				display: block;
			}
		}
		&:hover {
			i.check {
				opacity: 1;
			}
			.item__value {
				color: #4848bc;
			}
			.item__inner {
				z-index: 450;
			}
		}
	}
	.item__inner {
		position: relative;
		padding: 22px 40px;
		background: #ffffff;
		transition: width .3s ease;
		z-index: 2;
	}
	.item__value {
		margin-bottom: 3px;
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
	}
	.item__text {
		font-size: 13px;
		line-height: 19px;
		font-weight: 300;
		display: none;
	}
}


.detail-product-colors-square,
.detail-product-selects-list {
	padding: 30px 40px;
	border-bottom: 2px solid #ededed;
}

.colors-list {
	@include list-reset;
	li {
		margin-right: 11px;
		margin-bottom: 11px;
		display: inline-block;
		vertical-align: top;
		width: 32px;
		height: 32px;
		
		&:last-child {
			margin-right: 0;
		}
		a {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 3px;
			&[style="background-color: #ffffff;"] {
				border: 1px solid $gray-tx;
				&.active {
					&:after {
						border-color: $gray-tx;
					}
				}
			}
			&.active {
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 6px;
					height: 12px;
					border-bottom: 3px solid #ffffff;
					border-right: 3px solid #ffffff;
					transform: translate(-50%, -50%) rotate(45deg);
				}
			}
		}
	}
}

.color-square-value {
	margin-bottom: 16px;
	span {
		color: $gray-tx;
		font-size: 14px;
		line-height: 20px;
	}
}

.show-all-colors {
	position: relative;
	margin-top: 7px;
	display: inline-block;
	padding-right: 14px;
	color: #0f0f0f;
	&:after {
		content: '';
		position: absolute;
		top: 10px;
		right: 0;
		display: block;
		border-top: 6px solid #5d5d60;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
	}
	&.showed {
		&:after {
			display: none;
		}
		&:before {
			content: '';
			position: absolute;
			top: 10px;
			right: 0;
			display: block;
			border-bottom: 6px solid #5d5d60;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
		}
	}
}

.add-colors-wrapper {
	.colors-list {
		display: none;
	}
}


.detail-product-selects-list {
	.selects-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}


.type-of-doors {
	.list {
		display: flex;
		flex-wrap: wrap;
		.item {
			position: relative;
			margin: 0;
			margin-right: 10%;
			width: 25%;
			text-align: center;
			cursor: pointer;
			&:first-child {
				margin-right: 5%;
				text-align: left;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
			&__img {
				margin-bottom: 10px;
			}
			figcaption {
				color: $gray-tx;
				font-size: 12px;
				line-height: 14px;
				font-weight: 300;
			}
			.active {
				display: none;
			}
			&.active {
				.disabled {
					display: none;
				}
				.active {
					display: inline-block;
				}
			}
		}
	}
}

.links-wrapper {
	a {
    position: relative;
    padding-left: 30px;
    font-family: "SF" !important;
    font-size: 13px;
    color: $gray-tx;
    &:before {
	    position: absolute;
	    top: 0;
	    left: 0;
	    font-family: 'icomoon' !important;
    }
	}
}

.detail-controls {
	.detail-section {
		padding-bottom: 0;
		display: flex;
		justify-content: space-between;
		border: none;
		@media (min-width: $mob-xs) {
			flex-wrap: wrap;
		}
		@media (min-width: $desk-w) {
			flex-wrap: nowrap;
		};
	}
	.calc-controls {
		margin-right: 13px;
	}
	.btn-wrapper {
		margin-right: 13px;
		min-width: 198px;
	}
	.links-wrapper {
		a {
			display: inline-block;
			margin-bottom: 10px;
		}
	}
	.btn {
		display: block;
	}
}


.detail-tabs {
	margin-bottom: 60px;
	.tab-sw {
		margin-bottom: 2px;
		padding: 0 36px;
		background-color: #ffffff;
		border-top: none;
		li {
			a {
				padding: 25px 0;
				text-transform: none;
			}
		}
	}
	ul.uk-switcher {
		padding: 40px 36px;
		background-color: #ffffff;
	}
	table {
		tr {
			td {
				&:first-child {
					color: #7f7f7e;
					width: 30%;
					text-align: right;
					border-right: 1px solid #e9ebee;
				}
			}
		}
	}
	.catalog-bar {
		margin-top: 20px;
		margin-bottom: 0 !important;
	}
}

/*______ End Detail v1 ______*/

