/*______ Stores ______*/

.stores {
	margin: 30px 0;
}

.stores-map {
	&__header {
		margin-bottom: 2px;
		padding: 17px 16px;
		background-color: #ffffff;
		.custom-select {
			@media (min-width: $mob-xs) {
				margin-bottom: 10px;
				width: 100%;
				max-width: 320px;
				&:last-child {
					margin-bottom: 0;
				}
			};
			@media (min-width: $tablet-w) {
				margin-right: 8px;
				margin-bottom: 0;
				&:last-child {
					margin-right: 0;
				}
			};
			@media (min-width: $desk-w) {
				margin-right: 15px;
			};
		}
		.custom-select .select2-container--default.gray {
			margin-bottom: 0;
			@media (min-width: $mob-xs) {
				margin-right: 0;
				width: 100% !important;
				min-width: auto !important;
			};

		}
	}
	&__body {
		position: relative;
	}
	&__toggle {
		position: absolute;
		right: 25px;
		bottom: 30px;
		padding: 16px 53px 16px 16px;
		display: block;
		color: #0f0f0f;
		font-size: 14px;
		font-weight: 400;
		background-color: #ffffff;
		border-radius: 3px;
		transition: all .3s ease;
		cursor: pointer;
		user-select: none;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 10px;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 6px solid #5d5d60;
			transform: translateY(-50%);
		}
		&:hover {
			box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
		}
		&.toggle {
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 10px;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: none;
				border-top: 6px solid #5d5d60;
				transform: translateY(-50%);
			}
		}
	}
}

.stores-list {
	@include list-reset;
	.store {
		margin-bottom: 30px;
		display: block;
		background-color: #ffffff;
		transition: box-shadow .3s ease;
		&:before {
			display: none;
		}
		&:hover {
			box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
		}
		&__header {
			padding: 22px 25px;
			@include clearfix;
			border-bottom: 1px solid #ededed;
		}
		&__name {
			display: inline-block;
			color: $black;
			font-weight: 300;
			&:hover {
				color: #4848bc;
				text-decoration: none;
			}
			@media (min-width: $mob-xs) {
				font-size: 24px;
				line-height: 30px;
				width: 100%;
				float: left;
			};
			@media (min-width: $tablet-w) {
				font-size: 30px;
				line-height: 48px;
				max-width: none;
				width: auto;
				float: none;
			};
		}
		&__show-map {
			display: inline-block;
			color: #727271;
			font-size: 14px;
			font-weight: 400;
			&:hover {
				color: $black;
				text-decoration: none;
			}
			@media (min-width: $mob-xs) {
				float: left;
			};
			@media (min-width: $mob-s) {
				margin-top: 5px;
			};
			@media (min-width: $tablet-w) {
				margin-top: 13px;
				float: right
			};
		}
		&__body {
			font-size: 0;
			display: flex;
			flex-wrap: wrap;
			&>div {
				
				display: inline-block;
				vertical-align: top;
				font-size: 18px;
				color: #0f0f0f;
				
				&:last-child {
					border: none;
				}
				@media (min-width: $mob-xs) {
					padding: 20px 5.5%;
					border-right: none;
					border-bottom: 1px solid #ededed;
				};
				@media (min-width: 0) and (max-width: 959px) {
					width: 100%;
				}
				@media (min-width: $desk-w) {
					padding: 35px 5.5%;
					border-right: 1px solid #ededed;
					border-bottom: none;
				};
			}
		}
		&__title {
			position: relative;
			margin-bottom: 10px;
			color: #848484;
			font-family: $mainFont !important;
			&:before {
				font-family: 'icomoon' !important;
				position: absolute;
			}
			@media (min-width: $mob-xs) {
				padding-left: 40px;
				&:before {
					left: 0;
				}
			};
			@media (min-width: $desk-w) {
				padding-left: 0;
				&:before {
					left: -40px;
				}
			};
		}
		&__address {
			width: 41%;
		}
		&__contacts {
			width: 26%;
			a {
				display: block;
				color: $black;
			}
		}
		&__time-work {
			width: 33%;
		}
	}
}

.stores-map {
	margin-bottom: 30px;
}

#stores-map {
	width: 100%;
	overflow: hidden;
	transition: height .3s ease;
	@media (min-width: $mob-xs) {
		height: 400px;
	};
	@media (min-width: $desk-w) {
		height: 630px;
	};
	&.closed {
		height: 100px;
	}
}

.ymaps-2-1-72-balloon__content {
	padding: 0 !important;
	min-width: 630px !important;
	&>* {
		width: 100% !important;
	}
}

.cluster-section {
	position: relative;
	padding: 30px;
	border-bottom: 1px solid #ededed;
	&:before {
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);
	}
	p {
		font-size: 14px;
		font-weight: 400;
		color: #0f0f0f;
		font-family: $mainFont !important;
	}
	&:last-child {
		border: none;
	}
}

.cluster-header {
	color: #0f0f0f;
	font-size: 30px;
	line-height: 48px;
	font-weight: 300;
}

.cluster-title {
	color: #7e7e7e;
	font-family: $mainFont !important;
	&:before {
		font-family: 'icomoon' !important;
	}
}

/*______ End stores ______*/



/*______ Stores Detail ______*/

.stores-detail-map {
	@include clearfix;
	margin-bottom: 30px;
}

.stores-detail-map-wrapper {
	float: right;
	width: 60%;
}

.stores-detail-map-desc {
	float: left;
	width: 40%;
}

.stores-detail-map-desc {
	background-color: #ffffff;
	&>div {
		padding: 36px 65px 36px 74px;
		border-bottom: 2px solid #ededed;
		&:last-child {
			border: none;
		}
	}
	.desc-title {
		position: relative;
		margin-bottom: 8px;
		font-family: $mainFont !important;
		color: #848484;
		line-height: 24px;
		&:before {
			font-family: 'icomoon' !important;
			position: absolute;
			top: 0;
			left: -35px;
		}
	}
	.desc-section {
		margin-bottom: 26px;
		display: flex;
		flex-wrap: wrap;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.desc-contacts {
		a {
			display: block;
			color: $black;
		}
	}
}

.stores-detail-route {
	margin-bottom: 45px;
	padding: 35px;
	background: #ffffff url('../img/road-bg.png') 0 0 no-repeat;
	background-size: cover;
}

/*______ End Stores Detail ______*/
