/*______ Elements ______*/

h1,.title-h1 {
	margin-bottom: 25px;
	color: $black;
	font-weight: 300;
	@media (min-width: $mob-xs) {
		font-size: 30px;
		line-height: 36px;
	};
	@media (min-width: $tablet-w) {
		font-size: 36px;
		line-height: 48px;
	};
}

h2,.title-h2 {
	margin-bottom: 25px;
	color: $black;
	font-weight: 300;
	@media (min-width: $mob-xs) {
		font-size: 24px;
		line-height: 30px;
	};
	@media (min-width: $tablet-w) {
		font-size: 30px;
		line-height: 48px;
	};
}

h3, .title-h3 {
	margin-bottom: 15px;
	font-weight: 400;
	color: $black;
	@media (min-width: $mob-xs) {
		font-size: 18px;
		line-height: 24px;
	};
	@media (min-width: $tablet-w) {
		font-size: 24px;
		line-height: 48px;
	};
}

.btn {
	padding: 16px 42px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	line-height: 24px;
	font-weight: 700;
	border-radius: 3px;
	background-color: $orange;
	cursor: pointer;
	border: none;
	outline: none;
	transition: background-color .3s ease;
	&:hover {
		color: #ffffff;
		background-color: $purpule;
		text-decoration: none;
	}
	&--transparent {
		padding: 16px 0;
		text-transform: none;
		background-color: transparent;
		color: #727271;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 1.2px;
		&:hover {
			color: #727271;
			background-color: transparent;
		}
	}
	&--full {
		margin-bottom: 30px;
		width: 100%;
		font-size: 18px;
		@media (min-width: $mob-xs) {
			font-size: 14px;
		};
		@media (min-width: $tablet-w) {
			font-size: 18px;
		};
	}
}

.delete-product {
	font-weight: 700;
	&:hover {
		text-decoration: none;
	}
}

.icon-arrow-left {
	@include icomoon;
	&:before {
		content: "\e906";
	}
}

.icon-arrow-right {
	display: inline-block;
	transform: rotate(180deg);
}

.show-more {
	color: #727271;
	font-size: 14px;
}

.icon-zoom {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../img/zoom.png') center center no-repeat;
	background-size: 24px;
}

.show-more-colors {
	width: 19px;
	height: 19px;
	border-radius: 3px;
	border: 1px solid #ededed;
	background: url('../img/plus.png') center center no-repeat;
	background-size: 6px 6px;
	text-indent: -9999px;
}

.mob-margin-top {
	@media (min-width: 0) and (max-width: 660px) {
		margin-top: 25px !important;
	}
}

.gray-block {
	background-color: #d1d1d1;
	@media (min-width: $mob-xs) {
		padding: 50px 5% 30px;
	};
	@media (min-width: $desk-w) {
		padding: 110px 19.5% 90px;
	};
}

.uk-tooltip {
	color: #727271;
	font-size: 13px;
	box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
	border: 1px solid #e9ebee;
	/* background: #ffffff url('../img/tooltip-bg.png') 0 0 no-repeat; */
	background-color: #ffffff;
	background-size: cover;
}

.white-panel {
	padding: 70px 0 80px;
	background-color: #ffffff;
	.title-h2 {
		margin-bottom: 40px;
	}
}


.check {
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: $orange url('../img/icon-svg/check.svg') center center no-repeat;
		background-size: 10px 8px;
	}
}
.uncheck {
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: #e8656d url('../img/icon-svg/close.svg') center center no-repeat;
		background-size: 10px 8px;
	}
}

.link-read-more {
	position: relative;
	padding-right: 15px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	&:after {
		content: '';
		position: absolute;
		top: 7px;
		right: 0;
		display: block;
		border-left: 6px solid #5d5d60;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
	}
	&:hover {
		color: #4848bc;
		text-decoration: none;
	}
}


.style-door {
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: $black;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $orange;
	}
	&:hover {
		text-decoration: none;
	}
	@media (min-width: $mob-xs) {
			margin: 0 auto 30px;
			display: block;
			text-align: center;
			&:after {
				max-width: 232px;
				left: 50%;
				transform: translateX(-50%);
			}
	};
	@media (min-width: 1244px) {
		margin-left: 36%;
		margin-bottom: 34px;
		display: inline-block;
		&:after {
			left: 0;
			transform: translateX(0);
		}
	};
	&.center {
		margin: 0 auto;
		display: block;
		text-align: center;
		&:after {
			max-width: 232px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

/*______ Rating ______*/

.rating {
	position: relative;
	margin-top: 3px;
	min-width: 70px;
	@media (min-width: $mob-xs) {
		margin-left: 0;
	};
	@media (min-width: $mob-s) {
		margin-left: 15px;
	};
	input[type="radio"] {
		position: absolute;
		margin: 0;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked ~ label {
			&:before {
				color: $orange;
			}
		}
	}
	label {
		cursor: pointer;
		float: right;
		&:before {
			color: #a7a7ad;
			font-size: 14px;
			transition: color .3s ease;
		}
		&:hover {
			&:before {
				color: lighten($orange, 10%);
			}
		}
	}
}

/*______ Rating ______*/


.orange-label {
	margin-left: auto;
	padding: 25px 41px;
	max-width: 320px;
	color: #ffffff;
	font-weight: 300;
	background-color: $orange;
	border-radius: 3px;
	@media (min-width: $mob-xs) {
		margin-top: 20px;
		margin-left: 0;
		font-size: 28px;
		line-height: 34px;
	};
	@media (min-width: $tablet-w) {
		margin-top: 0;
		margin-left: auto;
	};
	@media (min-width: $desk-w) {
		font-size: 36px;
		line-height: 48px;
	};
}


/*______ Breadcrumbs ______*/

.breadcrumbs {
	@include list-reset;
	margin-bottom: 20px;
	font-size: 0;
	li {
		position: relative;
		padding-right: 20px;
		padding-left: 20px;
		display: inline-block;
		vertical-align: top;
		color: $gray-tx;
		font-size: 13px;
		line-height: 19px;
		font-weight: 400;
		&:after {
			content: '';
			position: absolute;
			top: 0px;
			right: 0;
			display: block;
			width: 1px;
			height: 19px;
			background-color: #d6d5d5;
			transform: rotate(30deg);
		}
		&:first-child {
			padding-left: 0;
		}
		a,span {
			color: $gray-tx;
			font-size: 13px;
			font-weight: 400;
		}
	}
}

/*______ End Breadcrumbs ______*/


/*______ Tabs ______*/

[uk-switcher] {
	position: relative;
	@include list-reset;
	margin-bottom: 7px;
	padding: 0 36px;
	background-color: #ffffff;
	border-top: none;
	font-size: 0;
	li {
		display: inline-block;
		vertical-align: top;
		@media (min-width: $mob-xs) {
			margin-right: 25px;
		};
		@media (min-width: $desk-w) {
			margin-right: 56px;
		};
		&.uk-active {
			a {
				color: $black;
				font-weight: 700;
				&:after {
					transform: scale(1);
				}
			}
		}
		a {
			position: relative;
			padding: 25px 0;
			display: block;
			color: #727271;
			font-weight: bold;
			letter-spacing: 2px;
			text-transform: none;
			transition: all .3s ease;
			@media (min-width: $mob-xs) {
				padding: 15px 0;
				font-size: 14px;
				line-height: 20px;
			};
			@media (min-width: $desk-w) {
				padding: 25px 0;
				font-size: 18px;
				line-height: 24px;
			};
			&:hover {
				text-decoration: none;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 3px;
				background-color: $orange;
				transition: transform .3s ease;
				transform: scale(0);
			}
		}
	}
}

ul.uk-switcher {
	padding: 40px 36px;
	background-color: #ffffff;
}

/*______ End Tabs ______*/



/*______ Accordion ______*/

ul[uk-accordion] {
	.uk-accordion-title {
		position: relative;
		padding: 12px 0;
		font-size: 24px;
		font-weight: 300;
		@media (min-width: $mob-xs) {
			line-height: 30px;
		};
		@media (min-width: $tablet-w) {
			line-height: 48px;
		};
		&:before {
			position: absolute;
			@include icomoon;
			content: "\e90b";	
			width: 16px;
			height: 10px;
			float: none;
			font-size: 10px;
			transform: translateY(-50%);
			transition: transform .3s, color .3s ease;
			background-image: none;
			@media (min-width: $mob-xs) {
				top: 30px;
				right: 0;
			};
			@media (min-width: $tablet-w) {
				top: 38px;
				right: 34px;
			};
		}
	}
	.uk-accordion-content {
		margin-top: 15px;
		padding-bottom: 20px;
	}
	&>li {
		margin: 0 0 9px;
		padding: 0 36px;
		background-color: #ffffff;
		transition: box-shadow .3s ease;
		&:nth-child(n+2) {
			margin-top: 0;
		}
		&.uk-open {
			.uk-accordion-title {
				&:before {
					background-image: none;
					transform: translateY(-50%) rotateX(180deg);
					color: $orange;
				}
			}
		}
		&:hover,
		&:focus {
			box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
			.uk-accordion-title {
				color: #4848bc;
			}
		}
	}

}

/*______ End Accordion ______*/


/*______ Card ______*/

.card {
	position: relative;
	display: inline-block;
	vertical-align: top;
	&-wrapper {
		padding: 40px 0 30px;
		background: #ffffff;
		transition: all .5s ease;
		will-change: transform;
	}
	a {
		display: block;
		&:hover {
			text-decoration: none;
			color: #284097;
		}
	}
	&__img {
		margin-bottom: 30px;
		text-align: center;
		img {
			display: inline-block;
			transition: all .3s ease;
			filter: blur(0px);
			&[data-lazy],
			&[data-src] {
				min-height: 316px;
				filter: blur(3px);
			}
		}
	}
	&__colors {
		opacity: 0;
		transform: translateX(100%);
		@include list-reset;
		position: absolute;
		top: 40px;
		right: 30px;
		transition: transform .3s, opacity .3s ease;
		z-index: 650;
		li {
			margin-bottom: 9px;
			display: block;
			a {
				display: block;
				width: 19px;
				height: 19px;
				border-radius: 3px;
			}
		}
	}
	&__article {
		margin-bottom: 15px;
		padding: 0 30px;
		color: $gray-tx;
		font-size: 14px;
		line-height: 20px;
		font-weight: 300;
	}
	&__options {
		margin-bottom: 15px;
		padding: 0 30px;
		display: none;
		ul {
			@include list-reset;
			li {
				position: relative;
				padding-left: 14px !important;
				color: $black;
				font-size: 14px;
				font-weight: 400;
				&:before {
					content: '';
					position: absolute;
					top: 10px;
					left: 0;
					display: block;
					width: 4px;
					height: 4px;
					background: $orange;
					border-radius: 50%;
				}
			}
		}
	}
	&__product-name {
		margin-bottom: 25px;
		padding: 0 30px;
		color: $black;
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;
	}
	&__price {
		padding: 0 30px;
		span {
			margin-right: 16px;
			font-size: 18px;
			line-height: 21px;
			font-weight: 300;
			&:empty {
				margin-right: 0;
			}
			&.current-price {
				margin-right: 0;
				font-weight: 500;
			}
		}
		.old-price {
			opacity: .5;
			text-decoration: line-through;
		}
	}
	&:hover {
		z-index: 500;
		.card__colors {
			transform: translateX(0);
			opacity: 1;
		}
		.card__options {
			display: block;
		}
		.card-wrapper {
			z-index: 999;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
			transform: scale(1.05);
		}
	}
}

.stocks {
	position: absolute;
	top: 37px;
	left: -7px;
	z-index: 600;
	div {
		position: relative;
		margin-bottom: 10px;
		width: 40px;
		height: 22px;
		color: #ffffff;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			display: block;
			width: 8px;
			height: 9px;
		}
		&.new {
			background-color: $purpule;
			&:after {
				background: linear-gradient(45deg, transparent 0% , transparent 50%, #33339b 50% );
			}
		}
		&.discount {
			background-color: $orange;
			&:after {
				background: linear-gradient(45deg, transparent 0% , transparent 50%, #d96637  50% );
			}
		}
		&.popular {
			background-color: #e8656d;
			letter-spacing: 1.2px;
			&:after {
				background: linear-gradient(45deg, transparent 0% , transparent 50%, #c34d54 50% );
			}
		}
	}
}

/*______ End Card ______*/



/*______ Tags Lists______*/

	.tags-list {
		@include list-reset;
		margin-bottom: 19px;
		font-size: 0;
		li {
			margin-right: 9px;
			margin-bottom: 9px;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			@media (min-width: $mob-xs) {
				margin: 0 9px 9px 0;
				width: 100%;
				max-width: 320px;
			};
			@media (min-width: $desk-w) {
				width: auto;
			};
			a {
				display: block;
				color: $gray-tx;
				font-weight: 300;
				background: #ffffff;
				border-radius: 23px;
				@media (min-width: $mob-xs) {
					text-align: center;
					padding: 6px 12px;
					font-size: 14px;
				};
				@media (min-width: $desk-w) {
					padding: 9px 16px;
					font-size: 18px;
				};
				&:hover {
					text-decoration: none;
					color: #ffffff;
					background-color: $orange;
				}
				&.active {
					color: #ffffff;
					background-color: $orange;	
				}
			}
		}
	}

/*______ End Tags Lists______*/


/*______ Custom Select ______*/

.custom-select {
	display: inline-block;
	vertical-align: top;
	&__label {
		margin-right: 10px;
		display: inline-block;
		vertical-align: top;
		color: $gray-tx;
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		@media (min-width: $mob-xs) {
			display: none;
		};
		@media (min-width: $tablet-w) {
			display: inline-block;
		};
	}
	.select2-container--default .select2-selection--single {
		border: none;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		font-size: 14px;
		line-height: 28px;
	}
	.select2-results__option {
		font-size: 14px;
	}
	.select2-container {
		min-width: 195px !important;
	}
	.select2-container--default.gray {
		margin-right: 13px;
		margin-bottom: 13px;
		min-width: 230px !important;
		&:nth-child(2n) {
			margin-right: 0;
		}
		.select2-selection--single {
			height: 42px;
			background-color: $gray-bg;
			outline: none;
		}
		.select2-selection__arrow {
			height: 42px;
		}
		.select2-selection__rendered {
			padding: 13px 17px;
			line-height: 16px;
			opacity: .5;
			transition: opacity .3s ease;
		}
		&.select2-container--open {
			.select2-selection__rendered {
				opacity: 1;
			}
		}
	}
}


.select2-container--default.gray {
	.select2-results__options {
		font-size: 14px;
	}
	.select2-dropdown {
		border: none;
	}
}

.select2-container--default .select2-results__option {
	background-color: $gray-bg;
	color: $black;
}

.custom-select__label {

}

/*______ End Custom Select ______*/


/*______ Custom Tooltip ______*/

.custom-tooltip {
	position: absolute;
	padding: 0 3px;
	min-width: 130px;
	font-size: 13px;
	border: 1px solid $orange;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
	transition: all .3s ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	&:after {
		content: '';
		position: absolute;
		bottom: -3px;
		left: 50%;
		width: 3px;
		height: 3px;
		display: block;
		background-color: #ffffff;
		border-left: 1px solid $orange;
		border-bottom: 1px solid $orange;
		transform: rotate(-45deg);
		box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
	}
	&.top {
		top: -40px;
	}
	&.center {
		left: 50%;
		transform: translateX(-50%);
	}
	&.left {
		left: 0;
		&:after {
			left: 20px;
		}
	}
	&.right {
		right: 0;
		&:after {
			left: auto;
			right: 20px;
		}
	}
	&.error {
		opacity: 1;
		visibility: visible;
		z-index: 980;
	}
}

/*______ End Custom Tooltip ______*/


/*______ Pagination ______*/

.uk-pagination {
	margin-bottom: 0;
	&.float-right {
		@media (min-width: $mob-xs) {
			margin: 0 auto;
			justify-content: center;
		};
		@media (min-width: $tablet-w) {
			margin: 0;
			float: right;
		};
	}
	li {
		margin-right: 8px;
		padding: 0;
		display: block;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		border-radius: 50%;
		transition: background-color .3s, color .3s ease;
		@media (min-width: $mob-xs) {
			width: 28px;
			height: 28px;
			line-height: 28px;
		};
		@media (min-width: $tablet-w) {
			width: 36px;
			height: 36px;
			line-height: 36px;
		};
		a {
			color: $black;
			&:hover {
				color: #ffffff;
			}
		}
		&:hover {
			color: #ffffff;
			background-color: #5d5d60;
		}
		&.uk-active {
			background-color: #5d5d60;
			color: #ffffff;
			span {
				color: #ffffff;
			}
		}
		&.uk-pagination-prev,
		&.uk-pagination-next {
			position: relative;
			width: auto;
			height: auto;
			color: $gray-tx;
			&:hover {
				color: $black;
				background-color: transparent;
			}
			a {
				color: $gray-tx;
				@media (min-width: $mob-xs) {
					display: none;
				};
				&:hover {
					color: $black;
				}
			}
		}
		&.uk-pagination-prev {
			padding-left: 21px;
			@media (min-width: $mob-xs) {
				margin-right: 0;
			};
			@media (min-width: $tablet-w) {
				margin-right: 10px;
			};
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				border-top: 4px solid transparent;
				border-right: 4px solid #5d5d60;
				border-bottom: 4px solid transparent;
				transform: translateY(-50%);
			}
		}
		&.uk-pagination-next {
			margin-right: 0;
			padding-right: 21px;
			@media (min-width: $mob-xs) {
				margin-left: 0;
			};
			@media (min-width: $tablet-w) {
				margin-left: 10px;
			};
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				display: block;
				border-top: 4px solid transparent;
				border-left: 4px solid #5d5d60;
				border-bottom: 4px solid transparent;
				transform: translateY(-50%);
			}
		}
	}
}

/*______ ENd Pagination ______*/



/*______ Calc Controls ______*/

.calc-controls {
	display: inline-block;
	vertical-align: top;
	min-width: 105px;
	color: #5d5d60;
	font-size: 0;
	user-select: none;
	span {
		display: inline-block;
		vertical-align: top;
		width: 36px !important;
		height: 56px !important;
		background-color: $gray-bg;
		font-size: 20px;
		line-height: 56px;
		text-align: center;
		cursor: pointer;
		outline: none;
		&.minus {
			border-radius: 3px 0 0 3px;
		}
		&.plus {
			border-radius: 0 3px 3px 0;
		}
		&:active {
			color: #ffffff;
			background-color: $orange;
		}
	}
	input {
		padding: 0 !important;
		display: inline-block;
		vertical-align: top;
		height: 56px !important;
		width: 33px !important;
		font-family: $mainFont;
		text-align: center;
		background-color: $gray-bg;
		border: none;
		outline: none;
	}
}

/*______ End Calc Controls ______*/



/*______ Facilities block ______*/

.facilities-block {
	margin-bottom: 10px;
}

.facility {
	padding: 30px 41px;
	height: 100%;
	border-right: 2px solid $gray-bg;
	background-color: #ffffff;
	@media (min-width: $mob-xs) {
		border-right: none;
		border-bottom: 2px solid $gray-bg;
	};
	@media (min-width: $tablet-w) {
		border-right: 2px solid $gray-bg;
	};
	@media (min-width: $desk-w) {
		border-bottom: none;
	};
	&__title {
		margin-bottom: 25px;
		display: flex;
		align-items: center;
		span {
			margin-left: 40px;
			display: block;
			color: $black;
			font-size: 18px;
			line-height: 24px;
			font-weight: 500;	
		}
	}
	&__text {
		margin-bottom: 20px;
		color: $gray-tx;
		font-size: 14px;
		line-height: 20px;
	}
}

/*______ End Facilities block ______*/



/*______ Component Table ______*/

.component-table {
	display: none;
	thead {
		tr {
			td {
				position: sticky;
				top: 0;
				background: $orange;
				color: #ffffff;
				min-width: 75px;
				&:nth-child(4) {
					width: 80px;
				}
			}
		}
	}
	td {
		padding: 10px 5px !important;
		font-size: 14px;
		line-height: 16px;
		border-right: 1px solid #ededed;
		border-bottom: 1px solid #ededed;
		text-align: center;
		&:first-child {
			text-align: left;
		}
		&:last-child {
			border: none;
		}
	}
	.btn {
		padding: 5px 12px;
	}
	.calc-controls {
		span,input {
			width: 25px !important;
			height: 40px !important;
			line-height: 40px !important;
		}
	}
	&.show {
		display: block;
	}
}


/*______ End Component Table ______*/


/*______ UI Slider______*/

.ui-slider-wrapper {
	position: relative;
	margin-left: 30px;
	width: 217px;
	.ui-slider-min,
	.ui-slider-max {
		position: absolute;
		bottom: -35px;
		color: #727271;
		font-size: 13px;
		font-weight: 400;
	}
	.ui-slider-min {
		left: 0;
	}
	.ui-slider-max {
		right: 0;
	}
	.ui-slider-current-value {
		position: absolute;
		top: -35px;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		color: #727271;
		font-size: 13px;
		font-weight: 400;
	}
}

#ui-slider {
	height: 3px;
	border: none;
	background-color: #ebeef1;
	.ui-slider-handle {
		top: -7px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #5d5d60;
		outline: none;
		cursor: pointer;
	}
	.ui-slider-range {
		background-color: $orange;
	}
}

/*______ End UI Slider______*/


/*______ Animations ______*/

.slide-up {
	animation: slide-up 1.3s ease forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

/*______ End Animations ______*/
