/*______ Elements ______*/

h1,.title-h1 {
	margin-bottom: 25px;
	color: $black;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
}

.btn {
	padding: 16px 42px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	font-weight: 700;
	border-radius: 3px;
	background-color: $orange;
	cursor: pointer;
	border: none;
	outline: none;
	transition: background-color .3s ease;
	&:hover {
		color: #ffffff;
		background-color: $purpule;
		text-decoration: none;
	}
}


.icon-arrow-left {
	@include icomoon;
	&:before {
		content: "\e906";
	}
}

.icon-arrow-right {
	display: inline-block;
	transform: rotate(180deg);
}

.show-more {
	color: #727271;
	font-size: 14px;
}

.show-more-colors {
	width: 19px;
	height: 19px;
	border-radius: 3px;
	border: 1px solid #ededed;
	background: url('../img/plus.png') center center no-repeat;
	background-size: 6px 6px;
	text-indent: -9999px;
}

.gray-block {
	padding: 110px 19.5% 90px;
	background-color: #d1d1d1;
}

.uk-tooltip {
	color: #727271;
	font-size: 13px;
	box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
	border: 1px solid #e9ebee;
	/* background: #ffffff url('../img/tooltip-bg.png') 0 0 no-repeat; */
	background-color: #ffffff;
	background-size: cover;
}


/*______ Tabs ______*/

[uk-switcher] {
	position: relative;
	@include list-reset;
	margin-bottom: 40px;
	font-size: 0;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	z-index: 30;
	li {
		margin-right: 92px;
		display: inline-block;
		vertical-align: top;
		&.uk-active {
			a {
				color: $black;
				font-weight: 700;
				&:after {
					width: 100%;
				}
			}
		}
		a {
			position: relative;
			padding: 40px 0;
			display: block;
			color: #727271;
			font-weight: bold;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 2px;
			text-transform: uppercase;
			transition: all .3s ease;
			&:hover {
				text-decoration: none;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: -1.5px;
				left: 0;
				display: block;
				width: 0;
				height: 3px;
				background-color: $orange;
				transition: width .3s ease;
			}
		}
	}
}

/*______ End Tabs ______*/


/*______ Card ______*/

.card {
	position: relative;
	transition: all .3s ease;
	&-wrapper {
		padding: 40px 30px 30px;
		background: #ffffff;
		transition: all .5s ease;
		will-change: transform;
	}
	a {
		display: block;
		&:hover {
			text-decoration: none;
			color: #284097;
		}
	}
	&__img {
		margin-bottom: 30px;
		text-align: center;
		img {
			display: inline;
			transition: all .3s ease;
			filter: blur(0px);
			&[data-lazy] {
				min-height: 316px;
				filter: blur(3px);
			}
		}
	}
	&__colors {
		opacity: 0;
		transform: translateX(100%);
		@include list-reset;
		position: absolute;
		top: 40px;
		right: 30px;
		transition: transform .3s, opacity .3s ease;
		z-index: 650;
		li {
			margin-bottom: 9px;
			display: block;
			a {
				display: block;
				width: 19px;
				height: 19px;
				border-radius: 3px;
			}
		}
	}
	&__article {
		margin-bottom: 15px;
		color: $gray-tx;
		font-size: 14px;
		line-height: 20px;
		font-weight: 300;
	}
	&__options {
		margin-bottom: 15px;
		display: none;
		ul {
			@include list-reset;
			li {
				position: relative;
				padding-left: 14px;
				color: $black;
				font-size: 14px;
				font-weight: 400;
				&:before {
					content: '';
					position: absolute;
					top: 10px;
					left: 0;
					display: block;
					width: 4px;
					height: 4px;
					background: $orange;
					border-radius: 50%;
				}
			}
		}
	}
	&__product-name {
		margin-bottom: 25px;
		color: $black;
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;
	}
	&__price {
		span {
			margin-right: 16px;
			font-size: 18px;
			line-height: 21px;
			font-weight: 300;
			&:empty {
				margin-right: 0;
			}
			&.current-price {
				font-weight: 500;
			}
		}
		.old-price {
			opacity: .5;
			text-decoration: line-through;
		}
	}
	&:hover {
		z-index: 500;
		.card__colors {
			transform: translateX(0);
			opacity: 1;
		}
		.card__options {
			display: block;
		}
		.card-wrapper {
			z-index: 999;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			box-shadow: 0 9px 25px -9px rgba(0, 0, 0, 0.14);
			transform: scale(1.09);
		}
	}
}

.stocks {
	position: absolute;
	top: 37px;
	left: -7px;
	z-index: 600;
	div {
		position: relative;
		margin-bottom: 10px;
		width: 40px;
		height: 22px;
		color: #ffffff;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			display: block;
			width: 8px;
			height: 9px;
		}
		&.new {
			background-color: $purpule;
			&:after {
				background: linear-gradient(45deg, transparent 0% , transparent 50%, #33339b 50% );
			}
		}
		&.discount {
			background-color: $orange;
			&:after {
				background: linear-gradient(45deg, transparent 0% , transparent 50%, #d96637  50% );
			}
		}
		&.popular {
			background-color: #e8656d;
			&:after {
				background: linear-gradient(45deg, transparent 0% , transparent 50%, #c34d54 50% );
			}
		}
	}
}

/*______ End Card ______*/


/*______ Animations ______*/

.slide-up {
	animation: slide-up 1.3s ease forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

/*______ End Animations ______*/
