/*______ Icomoon Font ______*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?wijwlx');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?wijwlx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?wijwlx') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?wijwlx') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?wijwlx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
  color: #fa7f4c;
}
.icon-roulette:before {
  content: "\e901";
  color: #fa7f4c;
}
.icon-phone_copy:before {
  content: "\e902";
  color: #fa7f4c;
}
.icon-envelope:before {
  content: "\e903";
  color: #fa7f4c;
}
.icon-compare:before {
  content: "\e904";
  color: #fa7f4c;
}
.icon-cart:before {
  content: "\e905";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-ae_logo2:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-pin:before {
  content: "\e909";
  color: #fa7f4c;
}
.icon-calendar:before {
  content: "\e90a";
  color: #fa7f4c;
}
.icon-arrow-up:before {
  content: "\e90b";
  color: #fa7f4c;
}
.icon-star:before {
  content: "\e90c";
  color: #a7a7ad;
}
.icon-account:before {
  content: "\e90d";
}
