/*______ Main Fonts ______*/

@font-face {
  font-family: 'SF';
 	src: url('../fonts/SF/SFUIDisplay-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
 	src: url('../fonts/SF/SFUIDisplay-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
 	src: url('../fonts/SF/SFUIDisplay-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
