<!-- begin attantion-bloc -->
<div class="attantion-block">
	<p>
		Обращаем Ваше внимание на то, что данный веб сайт носит исключительно информационно-ознакомительный характер, и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
	</p>
	<p>
		Любое несоответствие информации о товаре на сайте с фактической - это досадная ошибка, мы заранее за это извиняемся и просим Вас связаться с нами по почте со ссылкой и пояснением в случае обнаружения подобной ошибки.
	</p>
</div>
<!-- end attantion-bloc -->
