{% block content %}
<header class="header">

		<!-- begin header-desktop -->
		<div class="header-desktop">
			<div class="uk-container">
				<div class="top-bar">
					<div class="tel-wrapper">
						<span>Для розничных клиентов</span>
						<a href="tel:+74951628208" class="tel">+7 (495) 162-82-02</a>
					</div> 
					<div class="top-bar-info">
						<div class="address"><i class="icon-pin"></i>Москва, ул. Маршала Прошлякова вл. 6</div>
						<div class="call-spec"><a href="" class="icon-roulette" uk-toggle="target: #call-spec">Вызвать замерщика</a></div>
						<div class="callback"><a href="" class="icon-phone_copy" uk-toggle="target: #callback">Обратный звонок</a></div>
						<div class="mail"><a href="mailto:info@dvervdom.ru" class="icon-envelope">info@dvervdom.ru</a></div>
					</div>  
					<div class="auth"><a href="">Войти</a></div>
				</div>
				
				<div class="bottom-bar">
					<div class="uk-grid">
						<div class="uk-width-1-6">
							<a href="" class="logo"><img src="img/logo.svg" alt="Двери регионов"></a>
						</div>
						<div class="uk-width-5-6">

							<div class="bottom-bar__inner uk-flex uk-flex-middle">
								<!-- begin page-nav -->
								 <nav class="page-nav">
								 	<ul  class="nav-list uk-flex uk-flex-middle">
								 		<li>
								 			<a href="#">О компании</a>
								 			<ul class="nav-sublist">
								 				<li><a href="#">Lorem ipsum dolor.</a></li>
								 				<li><a href="#">Lorem-2</a></li>
								 				<li><a href="#">Lorem-3</a></li>
								 				<li><a href="#">Lorem-4</a></li>
								 				<li><a href="#">Lorem-5</a></li>
								 			</ul>
								 		</li>
								 		<li>
								 			<a href="#">Бренды</a>
								 		</li>
								 		<li>
								 			<a href="#">Акции и скидки</a>
								 		</li>
								 		<li>
								 			<a href="#">Дисконт</a>
								 		</li>
								 		<li>
								 			<a href="#">Где купить</a>
								 		</li>
								 		<li>
								 			<a href="#">Сервис</a>
								 			<ul class="nav-sublist">
								 				<li><a href="#">Lorem-1</a></li>
								 				<li><a href="#">Lorem-2</a></li>
								 				<li><a href="#">Lorem-3</a></li>
								 				<li><a href="#">Lorem-4</a></li>
								 				<li><a href="#">Lorem-5</a></li>
								 			</ul>
								 		</li>
								 		<li>
								 			<a href="#">Контакты</a>
								 		</li>
								 	</ul>
								 </nav>
								<!-- end page-nav -->
								
								 <!-- begin compare -->
								 <div class="compare">
									<a href="" class="icon-compare">
										<span class="compare__text">Сравнить</span>
										<span class="compare__count">(<span class="compare__count-value">2</span>)</span>
									</a>
								 </div>
								 <!-- end compare -->
								
								 <!-- begin basket -->
								 <div class="basket">
								 	<div class="basket-icon uk-border-circle"><i class="icon-cart"></i></div>
								 	<div class="basket-value">0 р.</div>
								 </div>
								 <!-- end basket -->
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end header-desktop -->

		<!-- begin header-mobile -->
		<div class="header-mobile uk-hidden@l">
				<div class="uk-container">123</div>
		</div>
		<!-- end header-mobile -->

</header>
{% endblock %}
