				{% block content %}
<div class="left-sidebar uk-visible@xl">
	<div class="left-sidebar-nav-wrapper">
		<a href="" uk-toggle="target: #page-search" class="sidebar-search icon-search uk-visible@l js__toggle-search">Поиск</a>
		<ul class="left-sidebar-nav">
			<li>
				<a href="#">О компании <i class="small-arrow js__toggle-sublist-nav"></i></a>
				<ul class="left-sublist-nav">
					<li><a href="#">Lorem-1</a></li>
					<li><a href="#">Lorem-2</a></li>
					<li><a href="#">Lorem-3</a></li>
					<li><a href="#">Lorem-4</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Оплата и доставка <i class="small-arrow js__toggle-sublist-nav"></i></a>
				<ul class="left-sublist-nav">
					<li><a href="#">Lorem-1</a></li>
					<li><a href="#">Lorem-2</a></li>
					<li><a href="#">Lorem-3</a></li>
					<li><a href="#">Lorem-4</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Возврат <i class="small-arrow js__toggle-sublist-nav"></i></a>
				<ul class="left-sublist-nav">
					<li><a href="#">Lorem-1</a></li>
					<li><a href="#">Lorem-2</a></li>
					<li><a href="#">Lorem-3</a></li>
					<li><a href="#">Lorem-4</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Гарантии <i class="small-arrow js__toggle-sublist-nav"></i></a>
				<ul class="left-sublist-nav">
					<li><a href="#">Lorem-1</a></li>
					<li><a href="#">Lorem-2</a></li>
					<li><a href="#">Lorem-3</a></li>
					<li><a href="#">Lorem-4</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Отзывы <i class="small-arrow js__toggle-sublist-nav"></i></a>
				<ul class="left-sublist-nav">
					<li><a href="#">Lorem-1</a></li>
					<li><a href="#">Lorem-2</a></li>
					<li><a href="#">Lorem-3</a></li>
					<li><a href="#">Lorem-4</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Вопрос-Ответ <i class="small-arrow js__toggle-sublist-nav"></i></a>
				<ul class="left-sublist-nav">
					<li><a href="#">Lorem-1</a></li>
					<li><a href="#">Lorem-2</a></li>
					<li><a href="#">Lorem-3</a></li>
					<li><a href="#">Lorem-4</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Акции <i class="small-arrow js__toggle-sublist-nav"></i></a>
				<ul class="left-sublist-nav">
					<li><a href="#">Lorem-1</a></li>
					<li><a href="#">Lorem-2</a></li>
					<li><a href="#">Lorem-3</a></li>
					<li><a href="#">Lorem-4</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Новости</a>
				<ul class="left-sublist-nav">
					<li><a href="#">Lorem-1</a></li>
					<li><a href="#">Lorem-2</a></li>
					<li><a href="#">Lorem-3</a></li>
					<li><a href="#">Lorem-4</a></li>
				</ul>
			</li>
		</ul>
	</div>							
	<div class="banners">
		<div class="item">
			<a href="">
				<img src="img/banner.png" alt="">
			</a>
		</div>
	</div>
</div>		
{% endblock %}
