				{% block content %}
<div class="left-sidebar">
					 <a href="" class="sidebar-search icon-search">Поиск</a>
					 <ul class="left-sidebar-nav">
						<li>
							<a href="#">Металлические двери <i class="small-arrow js__toggle-sublist-nav open"></i></a>
							<ul class="left-sublist-nav" style="display: block;">
								<li><a href="#">Двери Йошкар Ола</a></li>
								<li><a href="#" class="active">Входные двери «Двери Регионов»</a></li>
								<li><a href="#">Valberg</a></li>
								<li><a href="#">Эксклюзивные двери</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Межкомнатные двери <i class="small-arrow js__toggle-sublist-nav"></i></a>
							<ul class="left-sublist-nav">
								<li><a href="#">Lorem-1</a></li>
								<li><a href="#">Lorem-2</a></li>
								<li><a href="#">Lorem-3</a></li>
								<li><a href="#">Lorem-4</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Фурнитура «Арчи» <i class="small-arrow js__toggle-sublist-nav"></i></a>
							<ul class="left-sublist-nav">
								<li><a href="#">Lorem-1</a></li>
								<li><a href="#">Lorem-2</a></li>
								<li><a href="#">Lorem-3</a></li>
								<li><a href="#">Lorem-4</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Фурнитура Adden Bau <i class="small-arrow js__toggle-sublist-nav"></i></a>
							<ul class="left-sublist-nav">
								<li><a href="#">Lorem-1</a></li>
								<li><a href="#">Lorem-2</a></li>
								<li><a href="#">Lorem-3</a></li>
								<li><a href="#">Lorem-4</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Фурнитура VANTAGE <i class="small-arrow js__toggle-sublist-nav"></i></a>
							<ul class="left-sublist-nav">
								<li><a href="#">Lorem-1</a></li>
								<li><a href="#">Lorem-2</a></li>
								<li><a href="#">Lorem-3</a></li>
								<li><a href="#">Lorem-4</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Фурнитура Morelli <i class="small-arrow js__toggle-sublist-nav"></i></a>
							<ul class="left-sublist-nav">
								<li><a href="#">Lorem-1</a></li>
								<li><a href="#">Lorem-2</a></li>
								<li><a href="#">Lorem-3</a></li>
								<li><a href="#">Lorem-4</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Видеоглазки <i class="small-arrow js__toggle-sublist-nav"></i></a>
							<ul class="left-sublist-nav">
								<li><a href="#">Lorem-1</a></li>
								<li><a href="#">Lorem-2</a></li>
								<li><a href="#">Lorem-3</a></li>
								<li><a href="#">Lorem-4</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Столы</a>
							<ul class="left-sublist-nav">
								<li><a href="#">Lorem-1</a></li>
								<li><a href="#">Lorem-2</a></li>
								<li><a href="#">Lorem-3</a></li>
								<li><a href="#">Lorem-4</a></li>
							</ul>
						</li>
					 </ul>
				</div>
{% endblock %}
