{% block content %}

<div id="page-search" uk-modal class="page-search-modal">
		<div class="uk-modal-dialog uk-modal-body">
				<div class="uk-modal-body">
					<form action="" class="page-search">
						<i class="icon-search"></i>
						<input type="text" placeholder="Поиск по каталогу">
						<button class="btn">Найти</button>
					</form>
				</div>
		</div>
</div>

<div id="callback" class="default-modal callback-modal" uk-modal>
		<div class="uk-modal-dialog">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<div class="uk-modal-header">
						<h2 class="uk-modal-title">Заказать звонок</h2>
				</div>
				<div class="uk-modal-body">
					<form action="" method="get" class="call-spec">
						<fieldset>
							<label for="name">Ваше имя</label>
							<input id="name" type="text" placeholder="Алексей Иванов">
						</fieldset>
						<fieldset>
							<label for="tel">Телефон</label>
							<input id="tel" name="tel" type="text" class="tel js__input-phone" placeholder="+7" required>
						</fieldset>
						<button class="btn" type="submit">Отправить</button>
					</form>
				</div>
		</div>
</div>

<div id="reviews-modal" class="default-modal reviews-modal" uk-modal>
		<div class="uk-modal-dialog">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<div class="uk-modal-header">
						<h2 class="uk-modal-title">Оставить отзыв</h2>
				</div>
				<div class="uk-modal-body">
					<form action="" method="get" class="call-spec">
						<fieldset>
							<label for="reviews-name">Ваше имя</label>
							<input id="reviews-name" type="text" placeholder="Алексей Иванов">
						</fieldset>
						<fieldset>
							<label for="reviews-email">Email</label>
							<input id="reviews-email" name="reviews-email" type="text" placeholder="info@dveri.ru" required>
						</fieldset>
						<fieldset>
							<label for="reviews-text">Отзыв</label>
							<textarea name="reviews-text" id="reviews-text" required></textarea>
						</fieldset>
						<button class="btn" type="submit">Отправить</button>
					</form>
				</div>
		</div>
</div>

<div id="fast-buy" class="default-modal callback-modal" uk-modal>
		<div class="uk-modal-dialog">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<div class="uk-modal-header">
					<h2 class="uk-modal-title">Быстрый заказ</h2>
				</div>
				<div class="uk-modal-body">
					<form action="" method="get" class="call-spec">
						<fieldset>
							<label for="name">Ваше имя</label>
							<input id="name" type="text" placeholder="Алексей Иванов">
						</fieldset>
						<fieldset>
							<label for="tel">Телефон</label>
							<input id="tel" name="tel" type="text" class="tel js__input-phone" placeholder="+7" required>
						</fieldset>
						<button class="btn" type="submit">Отправить</button>
					</form>
				</div>
		</div>
</div>

<div id="call-spec" class="default-modal call-spec-modal" uk-modal>
		<div class="uk-modal-dialog">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<div class="uk-modal-header">
						<h2 class="uk-modal-title">Вызвать замерщика</h2>
				</div>
				<div class="uk-modal-body">
					<form action="" method="get" class="call-spec">
						<fieldset>
							<label for="name">Ваше имя</label>
							<input id="name" type="text" placeholder="Алексей Иванов">
						</fieldset>
						<fieldset>
							<label for="tel">Телефон</label>
							<input id="tel" name="tel" type="text" class="tel js__input-phone" placeholder="+7" required>
						</fieldset>
						<fieldset>
							<label for="email">Email</label>
							<input id="email" name="email" type="text" placeholder="info@dveri.ru" required>
						</fieldset>
						<button class="btn" type="submit">Вызвать замерщика</button>
					</form>
				</div>
		</div>
</div>


<div id="payment-modal" class="default-modal payment-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Рассчет рассрочки</h2>
        </div>
        <div class="uk-modal-body">
        	<div class="payment-calc">
        		<div class="section">
        			<div class="section__label">Сумма заказа</div>
        			<div class="section__field">
        				<input type="number" class="payment-input js__ui-slider" placeholder="50 000">
        				<div class="ui-slider-wrapper">
        					<div id="ui-slider" class="ui-slider"></div>
        					<div class="ui-slider-min"><span></span>р.</div>
        					<div class="ui-slider-max"><span></span>р.</div>
        					<div class="ui-slider-current-value"><span></span>р.</div>
        				</div>
        			</div>
        		</div>
        		<div class="section">
        			<div class="section__label">Первый взнос</div>
        			<div class="section__field">
        				<input type="text" class="payment-input" value="10 000">
        				<div class="checkbox-field">
        					<label class="custom-label" for="20">
        						<input id="20" type="checkbox" checked>
        						<span class="custom-checkbox"></span>20%
        					</label>
        					<label class="custom-label" for="30">
        						<input id="30" type="checkbox">
        						<span class="custom-checkbox"></span>30%
        					</label>
        					<label class="custom-label" for="40">
        						<input id="40" type="checkbox">
        						<span class="custom-checkbox"></span>40%
        					</label>
        					<label class="custom-label" for="50">
        						<input id="50" type="checkbox">
        						<span class="custom-checkbox"></span>50%
        					</label>
        				</div>
        			</div>
        		</div>
        		<div class="section section--half">
        			<div class="section__label">Срок рассрочки</div>
        			<div class="section__field">
        				<div class="finish-value time">4 месяца</div>
        			</div>
        		</div>
        		<div class="section section--half">
        			<div class="section__label">Первоначальный взнос</div>
        			<div class="section__field">
        				<div class="finish-value capital">10 000 р.</div>
        			</div>
        		</div>
        		<div class="section section--half">
        			<div class="section__label">Ежемесячный платеж</div>
        			<div class="section__field">
        				<div class="finish-value monthly-payment">8 676 р.</div>
        			</div>
        		</div>
        	</div>
        	
        </div>
        <div class="uk-modal-footer">
        	<a href="" class="btn">Продолжить покупку</a>
        </div>
    </div>
</div>


<div id="products-added-modal" class="default-modal alert-modal" uk-modal>
		<div class="uk-modal-dialog">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<div class="uk-modal-header">
						<h2 class="uk-modal-title uk-text-center">Товар добавлен в корзину</h2>
						<a href="" class="btn">Оформить заявку</a>
						<span class="separate">или</span>
						<a href="" class="style-door">Продолжить покупки</a>
				</div>
		</div>
</div>

{% endblock %}
