<!-- begin white-panel -->
<div class="white-panel">
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-1-6@l"></div>
			<div class="uk-width-5-6@l">
				<div class="title-h2">Почему следует заказывать двери у нас?</div>
				<p>
					Купить двери в Москве через интернет – это просто, быстро и выгодно. Вам не за чем переплачивать магазинам с огромными наценками, когда под рукой такой удобный вариант. Мы уже долгое время сотрудничаем с лучшими производителями дверей в России, и смогли добиться наиболее выгодных условий, чтобы сформированные нашими специалистами цены всегда радовали клиентов и вызывали желание обратиться к нам ещё раз.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- end white-panel -->
