{% extends "layouts/default.html" %}
{% set title="Каталог" %}
{% block content %}
	<section class="content">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-6">
	{% include "includes/left-sidebar.html" %}
				<div class="banners">
					<div class="item">
						<a href="">
							<img src="img/banner.png" alt="">
						</a>
					</div>
				</div>
				</div>
				<div class="uk-width-5-6">
					<div class="catalog-body">
						{% for i in 0..15 %}
							<div class="card">
								<div class="card-wrapper">
									<div class="card__img">
										<a href=""><img class="lazy" data-src="img/catalog-img-1-316x316.png" alt=""></a>
									</div>
									<ul class="card__colors">
										<li><a href="#" style="background-color: #964b02;"></a></li>
										<li><a href="#" style="background-color: #a25f29;"></a></li>
										<li><a href="#" style="background-color: #fff5ee;"></a></li>
										<li><a href="#" style="background-color: #515051;"></a></li>
										<li><a href="#" style="background-color: #442c24;"></a></li>
										<li><a href="#" style="background-color: #442c24;"></a></li>
										<li><a href="#" style="background-color: #232323;"></a></li>
										<li><a href="#" style="background-color: #3d2b1e;"></a></li>
										<li><a href="#" style="background-color: #f4e4d4;"></a></li>
										<li><a href="#" class="show-more-colors" uk-tooltip="title: Более 25 цветов; pos: right">1</a></li>
									</ul> 
									<div class="card__article"><a href="">Межкомнатные двери</a></div>
									<div class="card__options">
										<ul>
											<li>Стандарт</li>
											<li>Взломостойкая</li>
											<li>Со сменными панелями</li>
										</ul>
									</div>
									<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
									<div class="card__price">
										<span class="old-price"></span>
										<span class="current-price">от 1 465 р.</span>
									</div>
									<div class="stocks">
										<div class="discount">- 20%</div>
										<div class="new">New</div>
										<div class="popular">Хит</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
