{% extends "layouts/default.html" %}
{% set title="Сравнение" %}
{% set bread = ["Главная","Каталог", "Сравнение"] %}
{% block content %}
	<section class="page-content">
		<div class="uk-container">
			<div class="content">
				{% include "includes/breadcrumbs.html" %}
				<div class="title-h1">Каталог сравнение</div>
				<div class="compare-table-wrapper">
					<table class="compare-table" uk-lightbox>
						<thead>
							<tr>
								<td>Название</td>
								<td>
									<a href="img/options-img-1-65x140.png" class="compare-img">
										<img src="img/options-img-1-65x140.png" alt="">
									</a>
									<a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a>
									<noindex>
										<a href="" class="btn">Купить</a>
									</noindex>
								</td>
								<td>
									<a href="img/options-img-2-65x140.png" class="compare-img">
										<img src="img/options-img-2-65x140.png" alt="">
									</a>
									<a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 004</a>
									<noindex>
										<a href="" class="btn">Купить</a>
									</noindex>
								</td>
								<td>
									<a href="img/options-img-3-65x140.png" class="compare-img">
										<img src="img/options-img-3-65x140.png" alt="">
									</a>
									<a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 005</a>
									<noindex>
										<a href="" class="btn">Купить</a>
									</noindex>
								</td>
								<td>
									<a href="img/options-img-3-65x140.png" class="compare-img">
										<img src="img/options-img-3-65x140.png" alt="">
									</a>
									<a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 005</a>
									<noindex>
										<a href="" class="btn">Купить</a>
									</noindex>
								</td>
								<td>
									<a href="img/options-img-3-65x140.png" class="compare-img">
										<img src="img/options-img-3-65x140.png" alt="">
									</a>
									<a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 005</a>
									<noindex>
										<a href="" class="btn">Купить</a>
									</noindex>
								</td>
								<td>
									<a href="img/options-img-3-65x140.png" class="compare-img">
										<img src="img/options-img-3-65x140.png" alt="">
									</a>
									<a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 005</a>
									<noindex>
										<a href="" class="btn">Купить</a>
									</noindex>
								</td>
								<td>
									<a href="img/options-img-3-65x140.png" class="compare-img">
										<img src="img/options-img-3-65x140.png" alt="">
									</a>
									<a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 005</a>
									<noindex>
										<a href="" class="btn">Купить</a>
									</noindex>
								</td>
								<td>
									<a href="img/options-img-3-65x140.png" class="compare-img">
										<img src="img/options-img-3-65x140.png" alt="">
									</a>
									<a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 005</a>
									<noindex>
										<a href="" class="btn">Купить</a>
									</noindex>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Цена</td>
								<td>1000р.</td>
								<td>2000p.</td>
								<td>3000p.</td>
								<td>3000p.</td>
								<td>3000p.</td>
								<td>3000p.</td>
								<td>3000p.</td>
								<td>3000p.</td>
							</tr>
							<tr>
								<td>Тип двери:</td>
								<td>Межкомнатная дверь</td>
								<td>Межкомнатная дверь</td>
								<td>Межкомнатная дверь</td>
								<td>Межкомнатная дверь</td>
								<td>Межкомнатная дверь</td>
								<td>Межкомнатная дверь</td>
								<td>Межкомнатная дверь</td>
								<td>Межкомнатная дверь</td>
							</tr>
							<tr>
								<td>Производитель:</td>
								<td>Италия</td>
								<td>Италия</td>
								<td>Италия</td>
								<td>Италия</td>
								<td>Италия</td>
								<td>Италия</td>
								<td>Италия</td>
								<td>Италия</td>
							</tr>
							<tr>
								<td>Стиль:</td>
								<td>Lorem</td>
								<td>Lorem</td>
								<td>Lorem</td>
								<td>Lorem</td>
								<td>Lorem</td>
								<td>Lorem</td>
								<td>Lorem</td>
							</tr>
							<tr>
								<td>Цвет:</td>
								<td>Красный</td>
								<td>Красный</td>
								<td>Красный</td>
								<td>Красный</td>
								<td>Красный</td>
								<td>Красный</td>
								<td>Красный</td>
								<td>Красный</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="" class="delete-product">Удалить</a></td>
								<td><a href="" class="delete-product">Удалить</a></td>
								<td><a href="" class="delete-product">Удалить</a></td>
								<td><a href="" class="delete-product">Удалить</a></td>
								<td><a href="" class="delete-product">Удалить</a></td>
								<td><a href="" class="delete-product">Удалить</a></td>
								<td><a href="" class="delete-product">Удалить</a></td>
								<td><a href="" class="delete-product">Удалить</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
