{% extends "layouts/content.html" %}
{% set title="Входные двери «Двери Регионов»" %}
{% set bread = ["Главная", "Каталог", "Входные двери «Двери Регионов»"] %}
{% set filter = false %}
{% set img = "door" %}
{% block content %}
	<div class="uk-container">
		<div class="breadcrumbs-wrapper">
			{% include "includes/breadcrumbs.html" %}
		</div>

		<!-- begin detail-wrapper -->
		<div class="detail-wrapper">
			<h1 class="title-h1">Дверь Браво ПЧО Леон Ваниль (Т-18)</h1>

			<div class="detail-top-bar">
				<div class="product-availability check">В наличии</div>
				<div class="product-compare">
					<i class="icon-compare"></i>
					<div class="product-compare__text">
						<div class="added">Добавлено 	<a href="">в сравнение</a></div>
						<div class="add uk-hidden">Добавить 	<a href="">в сравнение</a></div>
					</div>
				</div>
			</div>
			
			<!-- begin detail-card -->
			<div class="detail-card">
				<div class="uk-grid uk-grid-collapse">
					<div class="uk-width-1-2@l">
						<div class="detail-card-sliders-wrapper">
							<div class="detail-card-sliders uk-clearfix">
								<div class="detail-big-slider uk-clearfix">
									<div class="slider">
										<div class="slide" uk-lightbox>
											<a href="img/sliders-img/detail-big-img-1-314x768.png">
												<img data-lazy="img/sliders-img/detail-big-img-1-314x768.png" alt="">
											</a>
											<i class="icon-zoom"></i>
										</div>
										<div class="slide" uk-lightbox>
											<a href="img/sliders-img/detail-big-img-1-314x768.png">
												<img data-lazy="img/sliders-img/detail-big-img-1-314x768.png" alt="">
											</a>
											<i class="icon-zoom"></i>
										</div>
										<div class="slide" uk-lightbox>
											<a href="img/sliders-img/detail-big-img-1-314x768.png">
												<img data-lazy="img/sliders-img/detail-big-img-1-314x768.png" alt="">
											</a>
											<i class="icon-zoom"></i>
										</div>
										<div class="slide" uk-lightbox>
											<a href="img/sliders-img/detail-big-img-1-314x768.png">
												<img data-lazy="img/sliders-img/detail-big-img-1-314x768.png" alt="">
											</a>
											<i class="icon-zoom"></i>
										</div>
									</div>
								</div>
								<div class="detail-preview-slider uk-clearfix">
									<div class="slider">
										<div class="slide">
											<img data-lazy="img/sliders-img/detail-slider-preview-2-58x143.png" alt="">
										</div>
										<div class="slide">
											<img data-lazy="img/sliders-img/detail-slider-preview-2-58x143.png" alt="">
										</div>
										<div class="slide">
											<img data-lazy="img/sliders-img/detail-slider-preview-3-58x143.png" alt="">
										</div>
										<div class="slide">
											<img data-lazy="img/sliders-img/detail-slider-preview-2-58x143.png" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="stocks">
								<div class="popular">Хит</div>
							</div>
							<a href="" class="style-door">Подобрать входную дверь по стилю</a>
						</div>
					</div>
					<div class="uk-width-1-2@l">
						<!-- begin type-of-price -->
						<div class="type-of-prices">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@m">
									<div class="item left-pos">
										<div class="item__inner">
											<div class="detail-title">Цена за полотно</div>
											<div class="item__value">5 866 р.</div>
											<div class="item__text">
												Комплект состоит из коробки полотна и наличников с двух сторон
											</div>
											<i class="check"></i>
										</div>
									</div>
								</div>
								<div class="uk-width-1-2@m">
									<div class="item right-pos">
										<div class="item__inner">
											<div class="detail-title">Цена за комплект</div>
											<div class="item__value">10 206 р.</div>
											<div class="item__text">
												Комплект состоит из коробки полотна и наличников с двух сторон
											</div>
											<i class="check"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end type-of-price -->

						<!-- begin detail-product-colors-square -->
						<div class="detail-product-colors-square">
							<div class="detail-title">Цвет</div>
							<div class="color-square-value"><span class="value">Светло-серый</span></div>
							<div class="colors-squares-wrapper">
								<ul class="colors-list">
									<li><a href="#" style="background-color: #515051;" data-color="Светло-серый"></a></li>
									<li><a href="#" style="background-color: #964b02;" data-color="Коричневый"></a></li>
									<li><a href="#" style="background-color: #a25f29;" data-color="Светло-коричневый"></a></li>
									<li><a href="#" style="background-color: #fff5ee;" data-color="Бежевый"></a></li>
									<li><a href="#" class="active" style="background-color: #ffffff;" data-color="Белый"></a></li>
									<li><a href="#" style="background-color: #515051;" data-color="Мокрый асфальт"></a></li>
									<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
									<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
									<li><a href="#" style="background-color: #f4e4d4;" data-color="Кремовый"></a></li>
									<li><a href="#" style="background-color: #3d2b1e;" data-color="Ржавый"></a></li>
								</ul>
								<div class="add-colors">
									<div class="add-colors-wrapper">
										<ul class="colors-list">
											<li><a href="#" style="background-color: #515051;" data-color="Светло-серый"></a></li>
											<li><a href="#" style="background-color: #964b02;" data-color="Коричневый"></a></li>
											<li><a href="#" style="background-color: #a25f29;" data-color="Светло-коричневый"></a></li>
											<li><a href="#" style="background-color: #fff5ee;" data-color="Бежевый"></a></li>
											<li><a href="#" style="background-color: #ffffff;" data-color="Белый"></a></li>
											<li><a href="#" style="background-color: #515051;" data-color="Мокрый асфальт"></a></li>
											<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
											<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
											<li><a href="#" style="background-color: #f4e4d4;" data-color="Кремовый"></a></li>
											<li><a href="#" style="background-color: #3d2b1e;" data-color="Ржавый"></a></li>
										</ul>
									</div>
									<a href="" class="show-all-colors js__show-add-colors">Показать еще цвета</a>
								</div>
							</div>
						</div>
						<!-- end detail-product-colors-square -->
						
						<!-- begin detail-product-selects-list -->
						<div class="detail-product-selects-list">
							<div class="detail-title">Выберите комплектующие</div>
							<div class="selects-list">
								<div class="custom-select">
									<select name="" id="" class="js__custom-select" data-theme="default gray">
										<option value="">600 x 900 мм</option>
										<option value="">500 x 800 мм</option>
										<option value="">400 x 700 мм</option>
									</select>
								</div>
								<div class="custom-select">
									<select name="" id="" class="js__custom-select" data-theme="default gray">
										<option value="">Выберите коробку</option>
										<option value="">Lorem-1</option>
										<option value="">Lorem-2</option>
									</select>
								</div>
								<div class="custom-select">
									<select name="" id="" class="js__custom-select" data-theme="default gray">
										<option value="">Выберите наличник</option>
										<option value="">Lorem-1</option>
										<option value="">Lorem-2</option>
									</select>
								</div>
								<div class="custom-select">
									<select name="" id="" class="js__custom-select" data-theme="default gray">
										<option value="">Выберите добор</option>
										<option value="">Lorem-1</option>
										<option value="">Lorem-2</option>
									</select>
								</div>
							</div>
						</div>
						<!-- end detail-product-selects-list -->

					</div>
				</div>
			</div>
			<!-- end detail-card -->

		</div>
		<!-- end detail-wrapper -->

	</div>
{% endblock %}
