{% extends "layouts/content.html" %}
{% set title="Входные двери «Двери Регионов»" %}
{% set bread = ["Главная", "Каталог", "Входные двери «Двери Регионов»"] %}
{% set filter = false %}
{% set img = "door" %}
{% set panel = true %}
{% block content %}
	<div class="uk-container">
		<div class="breadcrumbs-wrapper">
			{% include "includes/breadcrumbs.html" %}
		</div>

		<!-- begin detail-wrapper -->
		<div class="detail-wrapper">
			<h1 class="title-h1">Дверь Браво ПЧО Леон Ваниль (Т-18)</h1>

			<div class="detail-top-bar">
				<div class="product-availability check">В наличии</div>
				<div class="product-compare">
					<i class="icon-compare"></i>
					<div class="product-compare__text">
						<div class="added">Добавлено 	<a href="">в сравнение</a></div>
						<div class="add uk-hidden">Добавить 	<a href="">в сравнение</a></div>
					</div>
				</div>
			</div>
			
			<!-- begin detail-card -->
			<div class="detail-card">
				<div class="uk-grid uk-grid-collapse">
					<div class="uk-width-1-2@l">
						<div class="detail-card-sliders-wrapper">
							<div class="detail-card-sliders uk-clearfix">
								<div class="detail-big-slider uk-clearfix">
									<div class="slider" uk-lightbox="animation: scale">
										<div class="slide">
											<a href="img/sliders-img/detail-big-img-1-314x768.png">
												<img data-lazy="img/sliders-img/detail-big-img-1-314x768.png" alt="">
											</a>
											<i class="icon-zoom"></i>
										</div>
										<div class="slide">
											<a href="img/sliders-img/detail-big-img-1-314x768.png">
												<img data-lazy="img/sliders-img/detail-big-img-1-314x768.png" alt="">
											</a>
											<i class="icon-zoom"></i>
										</div>
										<div class="slide">
											<a href="img/sliders-img/detail-big-img-1-314x768.png">
												<img data-lazy="img/sliders-img/detail-big-img-1-314x768.png" alt="">
											</a>
											<i class="icon-zoom"></i>
										</div>
										<div class="slide">
											<a href="img/sliders-img/detail-big-img-1-314x768.png">
												<img data-lazy="img/sliders-img/detail-big-img-1-314x768.png" alt="">
											</a>
											<i class="icon-zoom"></i>
										</div>
									</div>
								</div>
								<div class="detail-preview-slider uk-clearfix">
									<div class="slider">
										<div class="slide">
											<img data-lazy="img/sliders-img/detail-slider-preview-2-58x143.png" alt="">
										</div>
										<div class="slide">
											<img data-lazy="img/sliders-img/detail-slider-preview-2-58x143.png" alt="">
										</div>
										<div class="slide">
											<img data-lazy="img/sliders-img/detail-slider-preview-3-58x143.png" alt="">
										</div>
										<div class="slide">
											<img data-lazy="img/sliders-img/detail-slider-preview-2-58x143.png" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="stocks">
								<div class="popular">Хит</div>
							</div>
							<a href="" class="style-door">Подобрать входную дверь по стилю</a>
						</div>
					</div>
					<div class="uk-width-1-2@l">
						<!-- begin type-of-price -->
						<div class="type-of-prices">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@m">
									<div class="item left-pos">
										<div class="item__inner">
											<div class="detail-title">Цена за полотно</div>
											<div class="item__value">5 866 р.</div>
											<div class="item__text">
												Комплект состоит из коробки полотна и наличников с двух сторон
											</div>
											<i class="check"></i>
										</div>
									</div>
								</div>
								<div class="uk-width-1-2@m">
									<div class="item right-pos">
										<div class="item__inner">
											<div class="detail-title">Цена за комплект</div>
											<div class="item__value">10 206 р.</div>
											<div class="item__text">
												Комплект состоит из коробки полотна и наличников с двух сторон
											</div>
											<i class="check"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end type-of-price -->

						<!-- begin detail-product-colors-square -->
						<div class="detail-product-colors-square">
							<div class="detail-title">Цвет</div>
							<div class="color-square-value"><span class="value">Светло-серый</span></div>
							<div class="colors-squares-wrapper">
								<ul class="colors-list">
									<li><a href="#" style="background-color: #515051;" data-color="Светло-серый"></a></li>
									<li><a href="#" style="background-color: #964b02;" data-color="Коричневый"></a></li>
									<li><a href="#" style="background-color: #a25f29;" data-color="Светло-коричневый"></a></li>
									<li><a href="#" style="background-color: #fff5ee;" data-color="Бежевый"></a></li>
									<li><a href="#" class="active" style="background-color: #ffffff;" data-color="Белый"></a></li>
									<li><a href="#" style="background-color: #515051;" data-color="Мокрый асфальт"></a></li>
									<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
									<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
									<li><a href="#" style="background-color: #f4e4d4;" data-color="Кремовый"></a></li>
									<li><a href="#" style="background-color: #3d2b1e;" data-color="Ржавый"></a></li>
								</ul>
								<div class="add-colors">
									<div class="add-colors-wrapper">
										<ul class="colors-list">
											<li><a href="#" style="background-color: #515051;" data-color="Светло-серый"></a></li>
											<li><a href="#" style="background-color: #964b02;" data-color="Коричневый"></a></li>
											<li><a href="#" style="background-color: #a25f29;" data-color="Светло-коричневый"></a></li>
											<li><a href="#" style="background-color: #fff5ee;" data-color="Бежевый"></a></li>
											<li><a href="#" style="background-color: #ffffff;" data-color="Белый"></a></li>
											<li><a href="#" style="background-color: #515051;" data-color="Мокрый асфальт"></a></li>
											<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
											<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
											<li><a href="#" style="background-color: #f4e4d4;" data-color="Кремовый"></a></li>
											<li><a href="#" style="background-color: #3d2b1e;" data-color="Ржавый"></a></li>
										</ul>
									</div>
									<a href="" class="show-all-colors js__show-add-colors">Показать еще цвета</a>
								</div>
							</div>
						</div>
						<!-- end detail-product-colors-square -->
						
						<!-- begin detail-product-selects-list -->
						<div class="detail-product-selects-list">
							<div class="detail-title">Выберите комплектующие</div>
							<div class="selects-list">
								<div class="custom-select">
									<select name="" id="" class="js__custom-select" data-theme="default gray">
										<option value="">600 x 900 мм</option>
										<option value="">500 x 800 мм</option>
										<option value="">400 x 700 мм</option>
									</select>
								</div>
								<div class="custom-select">
									<select name="" id="" class="js__custom-select" data-theme="default gray">
										<option value="">Выберите коробку</option>
										<option value="">Lorem-1</option>
										<option value="">Lorem-2</option>
									</select>
								</div>
								<div class="custom-select">
									<select name="" id="" class="js__custom-select" data-theme="default gray">
										<option value="">Выберите наличник</option>
										<option value="">Lorem-1</option>
										<option value="">Lorem-2</option>
									</select>
								</div>
								<div class="custom-select">
									<select name="" id="" class="js__custom-select" data-theme="default gray">
										<option value="">Выберите добор</option>
										<option value="">Lorem-1</option>
										<option value="">Lorem-2</option>
									</select>
								</div>
							</div>
						</div>
						<!-- end detail-product-selects-list -->
						
						<!-- begin type-of-door -->
						<div class="type-of-doors">
							<div class="detail-section">
								<div class="detail-title">Тип открывания двери</div>
								<div class="list">
									<figure class="item">
										<div class="item__img">
											<svg width="54px" height="81px" class="disabled">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#type-door-1"></use>
											</svg>
											<svg width="54px" height="81px" class="active">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#type-door-1-focus"></use>
											</svg>
										</div>
										<figcaption>Распашная</figcaption>
									</figure>
									<figure class="item active">
										<div class="item__img">
											<svg width="85px" height="81px" class="disabled">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#type-door-2"></use>
											</svg>
											<svg width="85px" height="81px" class="active">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#type-door-2-focus"></use>
											</svg>
										</div>
										<figcaption>Симметричная двустворчатая арка</figcaption>
									</figure>
									<figure class="item">
										<div class="item__img">
											<svg width="65px" height="81px" class="disabled">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#type-door-3"></use>
											</svg>
											<svg width="65px" height="81px" class="active">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#type-door-3-focus"></use>
											</svg>
										</div>
										<figcaption>Откатная</figcaption>
									</figure>
								</div>
							</div>
						</div>
						<!-- end type-of-door -->
						
						<!-- begin detail-controls -->
						<div class="detail-controls">
							<div class="detail-section">
								<div class="calc-controls">
									<span class="minus">-</span>
									<input type="text" value="1">
									<span class="plus">+</span>
								</div>
								<div class="btn-wrapper">
									<a href="" class="btn">Купить</a>
									<a href="" class="btn btn--transparent">Купить в 1 клик</a>
								</div>
								<div class="links-wrapper">
									<a href="" class="icon-roulette" uk-toggle="target: #call-spec">Вызвать замерщика</a>
									<a href="" class="icon-calendar" uk-toggle="target: #payment-modal">Рассрочка</a>
								</div>
							</div>
						</div>
						<!-- end detail-controls -->

					</div>
				</div>

			</div>
			<!-- end detail-card -->

			<!-- begin facilities-block -->
			<div class="facilities-block">
				<div class="uk-grid uk-grid-collapse">

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/truck.svg" width="64" height="46" alt="">
								<span>Доставка</span>
							</div>
							<div class="facility__text">
								Доставка от 650 до 1250 рублей в пределах МКАД. Возим и в Подмосковье!
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/wallet-2.svg" width="54" height="52" alt="">
								<span>Оплата</span>
							</div>
							<div class="facility__text">
								Оплата наличными. Возможно оплата картой при самовывозе.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/picup.svg" width="56" height="56" alt="">
								<span>Самовывоз</span>
							</div>
							<div class="facility__text">
								м. Молодёжная, ул. Молодогвардейская, д.54, стр 4.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/door.svg" width="42" height="56" alt="">
								<span>Установка</span>
							</div>
							<div class="facility__text">
								Установка межкомнатных дверей с гарантией — от 1800 рублей.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

				</div>
			</div>
			<!-- end facilities-block -->
			
			<!-- begin detail-tabs -->
			<div class="detail-tabs">
				<ul class="tab-sw" uk-switcher>
						<li><a href="">Описание</a></li>
						<li class="uk-active"><a href="">Характеристики</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Комплектующие двери</a></li>
				</ul>
				<ul class="uk-switcher">
					<li></li>
					<li>
						<table>
							<tbody>
								<tr>
									<td>Страна</td>
									<td>Беларусь</td>
								</tr>
								<tr>
									<td>Гарантия производителя</td>
									<td>1 год</td>
								</tr>
								<tr>
									<td>Материал</td>
									<td>Дерево</td>
								</tr>		
							</tbody>
						</table>
					</li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<!-- end detail-tabs -->

			<!-- begin products-slider -->
			<div class="products-slider uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
				<div class="title-h1">Фурнитура к этой двери</div>
				<div class="slider-wrapper">
					<div class="slider">
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-2-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-3-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-4-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
						<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- end products-slider -->

			<!-- begin products-slider -->
			<div class="products-slider uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
				<div class="title-h1">Фурнитура к этой двери</div>
				<div class="slider-wrapper">
					<div class="slider">
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-2-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-3-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-4-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
						<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- end products-slider -->

			<!-- begin products-slider -->
			<div class="products-slider uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
				<div class="title-h1">Фурнитура к этой двери</div>
				<div class="slider-wrapper">
					<div class="slider">
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-5-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-6-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-7-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-8-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-5-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
						<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- end products-slider -->

		</div>
		<!-- end detail-wrapper -->

	</div>
{% endblock %}
