{% extends "layouts/content.html" %}
{% set title="Входные двери «Двери Регионов» Арктика" %}
{% set bread = ["Главная", "Каталог", "Входные двери «Двери Регионов» Арктика"] %}
{% set filter = false %}
{% set catalog = true %}
{% set img = "door" %}
{% set panel = true %}
{% block content %}
	<div class="uk-container">
		<div class="breadcrumbs-wrapper">
			{% include "includes/breadcrumbs.html" %}
		</div>

		<!-- begin detail-wrapper -->
		<div class="detail-wrapper">
			<h1 class="title-h1">Входные двери «Двери Регионов» Арктика</h1>

			<div class="detail-top-bar">
				<div class="product-availability check">В наличии</div>
				<div class="product-compare">
					<i class="icon-compare"></i>
					<div class="product-compare__text">
						<div class="added">Добавлено 	<a href="">в сравнение</a></div>
						<div class="add uk-hidden">Добавить 	<a href="">в сравнение</a></div>
					</div>
				</div>
			</div>
			
			<!-- begin detail-card -->
			<div class="detail-card">
				<div class="uk-grid uk-grid-collapse">
					<div class="uk-width-1-2@l">
						<div class="detail-card-sliders-wrapper">
							
							<!-- begin doors-wrapper -->
							<div class="doors-wrapper">

								<div class="door-section door front-side">
									<div class="door-img" uk-lightbox>
										<a href="img/door-frontside.png">
											<img class="lazy" data-src="img/door-frontside.png" alt="">
										</a>
									</div>
									<div class="door-options">
										<div class="door__title">Внешняя сторона двери</div>
										<div class="door__color">Цвет: <span class="value">медный антик</span></div>
										<div class="door__picture">Рисунок: <span class="value">Optima+</span></div>
									</div>
								</div>

								<div class="door-section door back-side">
									<div class="door-img" uk-lightbox>
										<a href="img/door-frontside.png">
											<img class="lazy" data-src="img/door-backside.png" alt="">
										</a>
									</div>
									<div class="door-options">
										<div class="door__title">Внутренняя сторона двери</div>
										<div class="door__color">Цвет: <span class="value">Венге</span></div>
										<div class="door__picture">Рисунок: <span class="value">Optima+</span></div>
									</div>
								</div>

							</div>
							<!-- end doors-wrapper -->

							<div class="stocks">
								<div class="popular">Хит</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-2@l">

						<div class="detail-section uk-flex">
							<div class="complect-price">
								<div class="detail-title">Цена за комплект</div>
								<div class="complect-price__value">10 206р.</div>
								<div class="complect-price__text">
									Комплект состоит из коробки полотна и наличников с двух сторон
								</div>
							</div>
							<div class="calc-controls">
								<span class="minus">-</span>
								<input type="text" value="1">
								<span class="plus">+</span>
							</div>
							<div class="btn-wrapper">
								<a href="" class="btn">Купить</a>
								<a href="" class="btn btn--transparent">Купить в 1 клик</a>
							</div>
						</div>
						
						<div class="links-wrapper uk-flex border-bottom">
							<a href="" class="icon-roulette" uk-toggle="target: #call-spec">Вызвать замерщика</a>
							<a href="" class="icon-calendar" uk-toggle="target: #payment-modal">Рассрочка</a>
							<a href="" class="icon-calendar" uk-toggle="target: #payment-modal">Помощь при выборе</a>
						</div>

						<!-- begin detail-product-selects-list -->
						<div class="detail-product-selects-list">
							<div class="detail-title">Выберите параметры двери</div>
							<div class="selects-list">
								<div class="custom-select-wrapper">
									<div class="custom-select">
										<select name="" id="" class="js__custom-select" data-theme="default gray">
											<option value="">Размер дверного блока</option>
											<option value="">500 x 800 мм</option>
											<option value="">400 x 700 мм</option>
										</select>
									</div>
								</div>
								<div class="custom-select-wrapper">
									<div class="custom-select">
										<select name="" id="" class="js__custom-select" data-theme="default gray">
											<option value="">Тип двери</option>
											<option value="">Lorem-1</option>
											<option value="">Lorem-2</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<!-- end detail-product-selects-list -->

						<!-- begin detail-small-tabs -->
						<div class="detail-small-tabs">
							<ul class="tab-sw" uk-switcher>
								<li class="uk-active"><a href="">Внешняя сторона</a></li>
								<li><a href="">Внутренняя сторона</a></li>
								<li><a href="">Подбор замка</a></li>
							</ul>
							<ul class="uk-switcher">
								<li>									
									<!-- begin detail-options-list -->
									<div class="detail-options-list">
										<div class="detail-title">Выберите цвет</div>
										<div class="options-list-wrapper">
											<div class="options-list">
												<div class="options-list__item active check"><img class="lazy" data-src="img/options-img-1-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-2-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-3-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-4-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-5-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-6-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-7-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-8-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-9-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-10-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-1-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-2-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-3-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-4-65x140.png" alt=""></div>
												<div class="options-list__item"><img class="lazy" data-src="img/options-img-5-65x140.png" alt=""></div>
											</div>
											<a href="" class="show-all-colors js__show-options-list">Смотреть все цвета</a>
										</div>
									</div>
									<!-- end detail-options-list -->
								</li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<!-- end detail-small-tabs -->

						<!-- begin detail-product-colors-square -->
						<div class="detail-product-colors-square">
							<div class="detail-title">Цвет</div>
							<div class="color-square-value"><span class="value">Светло-серый</span></div>
							<div class="colors-squares-wrapper">
								<ul class="colors-list">
									<li><a href="#" style="background-color: #515051;" data-color="Светло-серый"></a></li>
									<li><a href="#" style="background-color: #964b02;" data-color="Коричневый"></a></li>
									<li><a href="#" style="background-color: #a25f29;" data-color="Светло-коричневый"></a></li>
									<li><a href="#" style="background-color: #fff5ee;" data-color="Бежевый"></a></li>
									<li><a href="#" class="active" style="background-color: #ffffff;" data-color="Белый"></a></li>
									<li><a href="#" style="background-color: #515051;" data-color="Мокрый асфальт"></a></li>
									<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
									<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
									<li><a href="#" style="background-color: #f4e4d4;" data-color="Кремовый"></a></li>
									<li><a href="#" style="background-color: #3d2b1e;" data-color="Ржавый"></a></li>
								</ul>
								<div class="add-colors">
									<div class="add-colors-wrapper">
										<ul class="colors-list">
											<li><a href="#" style="background-color: #515051;" data-color="Светло-серый"></a></li>
											<li><a href="#" style="background-color: #964b02;" data-color="Коричневый"></a></li>
											<li><a href="#" style="background-color: #a25f29;" data-color="Светло-коричневый"></a></li>
											<li><a href="#" style="background-color: #fff5ee;" data-color="Бежевый"></a></li>
											<li><a href="#" style="background-color: #ffffff;" data-color="Белый"></a></li>
											<li><a href="#" style="background-color: #515051;" data-color="Мокрый асфальт"></a></li>
											<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
											<li><a href="#" style="background-color: #442c24;" data-color="Темно-коричневый"></a></li>
											<li><a href="#" style="background-color: #f4e4d4;" data-color="Кремовый"></a></li>
											<li><a href="#" style="background-color: #3d2b1e;" data-color="Ржавый"></a></li>
										</ul>
									</div>
									<a href="" class="show-all-colors js__show-add-colors">Показать еще цвета</a>
								</div>
							</div>
						</div>
						<!-- end detail-product-colors-square -->

					</div>
				</div>

			</div>
			<!-- end detail-card -->

			<!-- begin facilities-block -->
			<div class="facilities-block">
				<div class="uk-grid uk-grid-collapse">

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/truck.svg" width="64" height="46" alt="">
								<span>Доставка</span>
							</div>
							<div class="facility__text">
								Доставка от 650 до 1250 рублей в пределах МКАД. Возим и в Подмосковье!
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/wallet-2.svg" width="54" height="52" alt="">
								<span>Оплата</span>
							</div>
							<div class="facility__text">
								Оплата наличными. Возможно оплата картой при самовывозе.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/picup.svg" width="56" height="56" alt="">
								<span>Самовывоз</span>
							</div>
							<div class="facility__text">
								м. Молодёжная, ул. Молодогвардейская, д.54, стр 4.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/door.svg" width="42" height="56" alt="">
								<span>Установка</span>
							</div>
							<div class="facility__text">
								Установка межкомнатных дверей с гарантией — от 1800 рублей.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

				</div>
			</div>
			<!-- end facilities-block -->
			
			<!-- begin detail-tabs -->
			<div class="detail-tabs">
				<ul class="tab-sw" uk-switcher>
						<li><a href="">Описание</a></li>
						<li class="uk-active"><a href="">Характеристики</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Комплектующие двери</a></li>
				</ul>
				<ul class="uk-switcher">
					<li></li>
					<li>
						<table>
							<tbody>
								<tr>
									<td>Страна</td>
									<td>Беларусь</td>
								</tr>
								<tr>
									<td>Гарантия производителя</td>
									<td>1 год</td>
								</tr>
								<tr>
									<td>Материал</td>
									<td>Дерево</td>
								</tr>		
							</tbody>
						</table>
					</li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<!-- end detail-tabs -->

			<!-- begin products-slider -->
			<div class="products-slider uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
				<div class="title-h1">Фурнитура к этой двери</div>
				<div class="slider-wrapper">
					<div class="slider">
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-2-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-3-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-4-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
						<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- end products-slider -->

			<!-- begin products-slider -->
			<div class="products-slider uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
				<div class="title-h1">Фурнитура к этой двери</div>
				<div class="slider-wrapper">
					<div class="slider">
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-2-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-3-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-4-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
						<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- end products-slider -->

			<!-- begin products-slider -->
			<div class="products-slider uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
				<div class="title-h1">Фурнитура к этой двери</div>
				<div class="slider-wrapper">
					<div class="slider">
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-5-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-6-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-7-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-8-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-5-146x316.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Межкомнатные двери</a></div>
						 	<div class="slide__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1 465 р.</span>
						 	</div>
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
						<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- end products-slider -->

		</div>
		<!-- end detail-wrapper -->

	</div>
{% endblock %}
