{% extends "layouts/content.html" %}
{% set title="Фурнитура Adden Bau" %}
{% set bread = ["Главная", "Каталог", "Фурнитура Adden Bau"] %}
{% set filter = false %}
{% set catalog = true %}
{% set img = "furnitura" %}
{% set panel = true %}
{% block content %}
	<div class="uk-container">
		<div class="breadcrumbs-wrapper">
			{% include "includes/breadcrumbs.html" %}
		</div>
	
		<!-- begin detail-wrapper -->
		<div class="detail-wrapper">
			<h1 class="title-h1">Ручка Castello VQ212 Aged Bronze</h1>
			<div class="detail-top-bar">
				<div class="product-availability check">В наличии</div>
				<div class="product-compare">
					<i class="icon-compare"></i>
					<div class="product-compare__text">
						<div class="added">Добавлено 	<a href="">в сравнение</a></div>
						<div class="add uk-hidden">Добавить 	<a href="">в сравнение</a></div>
					</div>
				</div>
			</div>

			<!-- begin detail-card -->
			<div class="detail-card">
				<div class="uk-grid uk-grid-collapse">
					<div class="uk-width-1-2@l">
						<div class="detail-card-sliders-wrapper">
							<div class="detail-furniture-slider">
								<div class="slider-wrapper">
									<div class="slider" uk-lightbox="animation: scale">
										<div class="slide">
											<a href="img/sliders-img/furnitira-slide-img-316x316.png">
												<img data-lazy="img/sliders-img/furnitira-slide-img-316x316.png" alt="">
											</a>
										</div>
										<div class="slide">
											<a href="img/sliders-img/furnitira-slide-img-316x316.png">
												<img data-lazy="img/sliders-img/furnitira-slide-img-316x316.png" alt="">
											</a>
										</div>
										<div class="slide">
											<a href="img/sliders-img/furnitira-slide-img-316x316.png">
												<img data-lazy="img/sliders-img/furnitira-slide-img-316x316.png" alt="">
											</a>
										</div>
									</div>
								</div>
								<div class="slider__arrows">
									<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
									<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
								</div>
							</div>
							<div class="stocks">
								<div class="popular">Хит</div>
								<div class="discount">-20%</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-2@l">

						<div class="detail-section uk-flex">
							<div class="furniture-price">
								<div class="old-price">7 900 р.</div>
								<div class="current-price">4 990 р.</div>
							</div>
							<div class="calc-controls">
								<span class="minus">-</span>
								<input type="text" value="1">
								<span class="plus">+</span>
							</div>
							<div class="btn-wrapper mob-margin-top">
								<a href="" class="btn">Купить</a>
								<a href="" class="btn btn--transparent" uk-toggle="target: #fast-buy">Купить в 1 клик</a>
							</div>
						</div>

						<!-- begin detail-product-colors-square -->
						<div class="detail-product-colors-square no-border">
							<div class="detail-title">Цвет</div>
							<div class="color-square-value"><span class="value">Светло-серый</span></div>
							<div class="colors-squares-wrapper">
								<ul class="colors-list">
									<li><a href="#" class="active" style="background-color: #515051;" data-color="Светло-серый"></a></li>
									<li><a href="#" style="background-color: #964b02;" data-color="Коричневый"></a></li>
									<li><a href="#" style="background-color: #a25f29;" data-color="Светло-коричневый"></a></li>
									<li><a href="#" style="background-color: #fff5ee;" data-color="Бежевый"></a></li>
								</ul>
							</div>
						</div>
						<!-- end detail-product-colors-square -->
					</div>
				</div>
			</div>
			<!-- end detail-card -->

			<!-- begin facilities-block -->
			<div class="facilities-block">
				<div class="uk-grid uk-grid-collapse">

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/truck.svg" width="64" height="46" alt="">
								<span>Доставка</span>
							</div>
							<div class="facility__text">
								Доставка от 650 до 1250 рублей в пределах МКАД. Возим и в Подмосковье!
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/wallet-2.svg" width="54" height="52" alt="">
								<span>Оплата</span>
							</div>
							<div class="facility__text">
								Оплата наличными. Возможно оплата картой при самовывозе.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/picup.svg" width="56" height="56" alt="">
								<span>Самовывоз</span>
							</div>
							<div class="facility__text">
								м. Молодёжная, ул. Молодогвардейская, д.54, стр 4.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

					<div class="uk-width-1-2@m uk-width-1-4@l">
						<div class="facility">
							<div class="facility__title">
								<img class="lazy" data-src="img/icon-svg/door.svg" width="42" height="56" alt="">
								<span>Установка</span>
							</div>
							<div class="facility__text">
								Установка межкомнатных дверей с гарантией — от 1800 рублей.
							</div>
							<a href="" class="link-read-more">Подробнее</a>
						</div>
					</div>

				</div>
			</div>
			<!-- end facilities-block -->

			<!-- begin detail-tabs -->
			<div class="detail-tabs">
				<ul class="tab-sw" uk-switcher>
						<li class="uk-active"><a href="">Описание</a></li>
						<li><a href="">Характеристики</a></li>
						<li><a href="">Отзывы</a></li>
				</ul>
				<ul class="uk-switcher">
					<li>
						<p>
							Современная межкомнатная дверь Гранд-1 представляет собой товар среднего ценового сегмента. Она появилась на профессиональном рынке с начала 2-х тысячных годов. Это достаточный срок для продажи дверей собственного производства. За это время на фабрике произошли большие изменения. Производимая продукция сегодня вышла на мировой уровень.
						</p>
					</li>
					<li>
						<table>
							<tbody>
								<tr>
									<td>Страна</td>
									<td>Беларусь</td>
								</tr>
								<tr>
									<td>Гарантия производителя</td>
									<td>1 год</td>
								</tr>
								<tr>
									<td>Материал</td>
									<td>Дерево</td>
								</tr>		
							</tbody>
						</table>
					</li>
					<li>
						<!-- begin reviews-list -->
						<div class="reviews-list tabs">
							<div class="review">
								<div class="review__top">
									<div class="review__user">
										<div class="review__name">Николай,</div>
										<div class="review__date">26 сентября 2019</div>
									</div>
									<div class="rating uk-clearfix">
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
									</div>
								</div>
								<div class="review__text">
									Своим клиентам мы предлагаем широчайший выбор моделей входных и межкомнатных дверей различных как по ценовой категории, так и дизайну.
								</div>
							</div>

							<div class="review">
								<div class="review__top">
									<div class="review__user">
										<div class="review__name">Сергей Петрович,</div>
										<div class="review__date">21 сентября 2019</div>
									</div>
									<div class="rating uk-clearfix">
										<input id="" type="radio" name="" value="" checked>
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
									</div>
								</div>
								<div class="review__text">
									За годы работы компания «Двери Регионов» по праву заслужила репутацию надежного партнера. Гарантированное качество предлагаемой нами продукции остается неизменно высоким. Мы стараемся поддерживать, приобретенный у наших клиентов авторитет и остаемся профессионалами в этом направлении, постоянно расширяя ассортимент и обеспечивая высокое качество каждой модели двери, вне зависимости от ее стоимости.
								</div>
							</div>

							<div class="review">
								<div class="review__top">
									<div class="review__user">
										<div class="review__name">Валентина,</div>
										<div class="review__date">12 сентября 2019</div>
									</div>
									<div class="rating uk-clearfix">
										<input id="" type="radio" name="" value="" checked>
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
										<input id="" type="radio" name="" value="">
										<label for="" class="icon-star"></label>
									</div>
								</div>
								<div class="review__text">
									Профессионалы компании ДВЕРИ РЕГИОНОВ очень внимательны к каждому клиенту. Вы можете быть уверены в том, что Ваши пожелания не просто примут к сведению, а возьмут за основу при выполнении заказа. Мы всегда заинтересованы в том, чтобы наши покупатели могли приобретать товары, оптимальные по соотношению цены и качества.
								</div>
							</div>	

						</div>
						<!-- end reviews-list -->
						<a href="#reviews-modal" class="btn" uk-toggle>Оставить отзыв</a>
						<div class="catalog-bar">
							<div class="uk-grid">
								<div class="uk-width-1-1">
									<ul class="uk-pagination uk-flex-center">
										<li class="uk-pagination-prev">
											<a href="">
												Предыдущая
											</a>
										 </li>
										<li class="uk-active"><span>1</span></li>
										<li><a href="">2</a></li>
										<li><a href="">3</a></li>
										<li><a href="">4</a></li>
										<li><a href="">...</a></li>
										<li><a href="">12</a></li>
										<li class="uk-pagination-next">
											<a href="">
												Следующая
											</a>
										 </li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- end detail-tabs -->

			<!-- begin products-slider -->
			<div class="products-slider uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
				<div class="title-h1">С этим товаром покупают</div>
				<div class="slider-wrapper">
					<div class="slider">
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/add-product-1.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href=""></a></div>
						 	<div class="slide__product-name"><a href="">Петли</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 349 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/add-product-2.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href=""></a></div>
						 	<div class="slide__product-name"><a href="">Доводчики</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 1099 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/add-product-3.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href=""></a></div>
						 	<div class="slide__product-name"><a href="">Замки</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 540 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/add-product-4.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href=""></a></div>
						 	<div class="slide__product-name"><a href="">Ограничители</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/add-product-3.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href=""></a></div>
						 	<div class="slide__product-name"><a href="">Ограничители</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
						<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- end products-slider -->

			<!-- begin products-slider -->
			<div class="products-slider uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
				<div class="title-h1">Похожие товары</div>
				<div class="slider-wrapper">
					<div class="slider">
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-2-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-3-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-4-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
						<div class="slide">
						 	<div class="slide__img">
						 		<a href="">
						 			<img data-lazy="img/sliders-img/products-img-1-260x260.png" alt="">
						 		</a>
						 	</div>
						 	<div class="slide__article"><a href="">Фурнитура «Арчи»</a></div>
						 	<div class="slide__product-name"><a href="">Ручка дверная золотого цвета из металла #57</a></div>
						 	<div class="slide__price">
								<span class="old-price"></span>
								<span class="current-price">от 990 р.</span>
						 	</div>
						</div>
					</div>
					<div class="slider__arrows">
						<div class="slide-prev gray"><i class="icon-arrow-left"></i></div>
						<div class="slide-next gray"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- end products-slider -->

		</div>
		<!-- end detail-wrapper -->
		


	</div>
{% endblock %}
