{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% block content %}
	<section class="content">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-6">
	{% include "includes/left-sidebar.html" %}	
				</div>
				<div class="uk-width-5-6">
					<!-- begin main-slider -->
					<div class="main-slider">
						<div class="slider">
							<div class="slide">
								<img data-lazy="img/slider-img-1.png" alt="">
								<div class="slide__desc">
									<div class="slide__title">
										Двери из <span>массива дуба</span>
									</div>
									<div class="slide__text">Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. ш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей ш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей </div>
									<a href="" class="btn">Узнать больше</a>
								</div>
							</div>
							<div class="slide">
								<img data-lazy="img/slider-img-2.png" alt="">
								<div class="slide__desc">
									<div class="slide__title">
										Двери из <span>массива дуба2</span>
									</div>
									<div class="slide__text">Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. </div>
									<a href="" class="btn">Узнать больше</a>
								</div>
							</div>
							<div class="slide">
								<img data-lazy="img/slider-img-2.png" alt="">
								<div class="slide__desc">
									<div class="slide__title">
										Двери из <span>массива дуба3</span>
									</div>
									<div class="slide__text">Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. </div>
									<a href="" class="btn">Узнать больше</a>
								</div>
							</div>
						</div>
						<div class="slider__arrows">
							<div class="slide-prev white"><i class="icon-arrow-left"></i></div>
							<div class="slide-next white"><i class="icon-arrow-right"></i></div>
						</div>
					</div>
					<!-- end main-slider -->

					<!-- begin products-shor-list -->
					<div class="products-short-list">
						<div class="uk-grid">
							<div class="uk-width-1-1@s uk-width-1-4@m">
								<div class="item item--full-height lazy" data-src="img/short-list-img-1.png">
									<a href="#">
										<div class="item__text">
											<div class="item__type">Двери из массива дуба</div>
											<div class="item__price">от 8 990 р.</div>
										</div>
									</a>
								</div>
							</div>
							<div class="uk-width-1-1@s uk-width-3-4@m">
								<div class="uk-grid">

									<div class="uk-width-3-5">
										<div class="item lazy" data-src="img/short-list-img-2.png">
											<a href="#">
												<div class="item__text">
													<div class="item__type">Двери ламинированные</div>
													<div class="item__price">от 3 450 р.</div>
												</div>
											</a>
										</div>
									</div>

									<div class="uk-width-2-5">
										<div class="item lazy" data-src="img/short-list-img-3.png">
											<a href="#">
												<div class="item__text">
													<div class="item__type">Двери строителям</div>
													<div class="item__price">от 1 980 р.</div>
												</div>
											</a>
										</div>
									</div>

									<div class="uk-width-2-5">
										<div class="item lazy" data-src="img/short-list-img-4.png">
											<a href="#">
												<div class="item__text">
													<div class="item__type">Двери в квартиру</div>
													<div class="item__price">от 3 499 р.</div>
												</div>
											</a>
										</div>
									</div>

									<div class="uk-width-3-5">
										<div class="item lazy" data-src="img/short-list-img-5.png"">
											<a href="#">
												<div class="item__text">
													<div class="item__type">Эксклюзивные двери</div>
													<div class="item__price">от 19 990 р.</div>
												</div>
											</a>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
					<!-- end products-shor-list -->

				</div>
			</div>

			<!-- begin about-manufactures -->
			<div class="about-manufactures">
					<div class="text">
						<div class="uk-grid">
							<div class="uk-width-1-6 uk-visible@l"></div>
							<div class="uk-width-5-6@l">
								<div class="title-h1">Двери от производителя в Москве <br> и Московской области</div>
								<p>
									Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. Здесь каждый сможет подобрать для себя именно то изделие, которое максимально отвечает технологическим требованиям и личным пожеланиям клиента. Наше основное конкурентное преимущество — это низкая цена в совокупности с высоким качеством.
								</p>
							</div>
						</div>
					</div>
			</div>
			<!-- end about-manufactures -->
			
			<!-- begin advantages -->
			<div class="advantages">
					<div class="uk-grid">
						<div class="uk-width-1-6 uk-visible@l"></div>
						<div class="uk-width-5-6@l">
							<div class="advantages-list">
								<div class="item">
									<div class="item__img">
										<svg width="86px" height="62px" class="">
										  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#truck"></use>
										</svg>
									</div>
									<div class="item__title">Доставка</div>
									<div class="item__text">Наша компания осуществляет доставку до дома и офиса</div>
								</div>
								<div class="item">
									<div class="item__img">
										<svg width="61px" height="86px" class="">
										  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#card"></use>
										</svg>
									</div>
									<div class="item__title">Оплата</div>
									<div class="item__text">У нас вы можете оплатить покупки любым удобным для Вас способом</div>
								</div>
								<div class="item">
									<div class="item__img">
										<svg width="86px" height="86px" class="">
										  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#guarantee-certificate"></use>
										</svg>
									</div>
									<div class="item__title">Гарантии</div>
									<div class="item__text">Наша компания дает до 3 лет гарантии на все виды продукции!</div>
								</div>
								<div class="item">
									<div class="item__img">
										<svg width="64px" height="86px" class="">
										  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#door"></use>
										</svg>
									</div>
									<div class="item__title">Установка</div>
									<div class="item__text">Наши специалисты не только установят, но и объяснят как пользоваться</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<!-- end advantages -->

			<!-- begin manufactures-tabs -->
			<div class="manufactures-tabs">

					<ul uk-switcher>
						<li><a href="">новинки</a></li>
						<li><a href="">лидеры продаж</a></li>
						<li><a href="">распродажа</a></li>
					</ul>
					<ul class="uk-switcher">
						<li>21e1</li>
						<li>дщкуь</li>
						<li>21e1аца</li>
					</ul>

			</div>
			<!-- end manufactures-tabs -->

		</div>
	</section>
{% endblock %}
