{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% block content %}
	<section class="content">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-6">
	{% include "includes/left-sidebar.html" %}
				<div class="banners">
					<div class="item">
						<a href="">
							<img src="img/banner.png" alt="">
						</a>
					</div>
				</div>	
				</div>
				<div class="uk-width-5-6">
					<!-- begin main-slider -->
					<div class="main-slider">
						<div class="slider">
							<div class="slide">
								<img data-lazy="img/slider-img-1.png" alt="">
								<div class="slide__desc">
									<div class="slide__title">
										Двери из <span>массива дуба</span>
									</div>
									<div class="slide__text">Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. ш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей ш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей </div>
									<a href="" class="btn">Узнать больше</a>
								</div>
							</div>
							<div class="slide">
								<img data-lazy="img/slider-img-2.png" alt="">
								<div class="slide__desc">
									<div class="slide__title">
										Двери из <span>массива дуба2</span>
									</div>
									<div class="slide__text">Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. </div>
									<a href="" class="btn">Узнать больше</a>
								</div>
							</div>
							<div class="slide">
								<img data-lazy="img/slider-img-2.png" alt="">
								<div class="slide__desc">
									<div class="slide__title">
										Двери из <span>массива дуба3</span>
									</div>
									<div class="slide__text">Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. </div>
									<a href="" class="btn">Узнать больше</a>
								</div>
							</div>
						</div>
						<div class="slider__arrows">
							<div class="slide-prev transparent"><i class="icon-arrow-left"></i></div>
							<div class="slide-next transparent"><i class="icon-arrow-right"></i></div>
						</div>
					</div>
					<!-- end main-slider -->

					<!-- begin products-shor-list -->
					<div class="products-short-list">
						<div class="uk-grid">
							<div class="uk-width-1-1@s uk-width-1-4@m">
								<div class="item item--full-height lazy" data-src="img/short-list-img-1.png">
									<a href="#">
										<div class="item__text">
											<div class="item__type">Двери из массива дуба</div>
											<div class="item__price">от 8 990 р.</div>
										</div>
									</a>
								</div>
							</div>
							<div class="uk-width-1-1@s uk-width-3-4@m">
								<div class="uk-grid">

									<div class="uk-width-3-5">
										<div class="item lazy" data-src="img/short-list-img-2.png">
											<a href="#">
												<div class="item__text">
													<div class="item__type">Двери ламинированные</div>
													<div class="item__price">от 3 450 р.</div>
												</div>
											</a>
										</div>
									</div>

									<div class="uk-width-2-5">
										<div class="item lazy" data-src="img/short-list-img-3.png">
											<a href="#">
												<div class="item__text">
													<div class="item__type">Двери строителям</div>
													<div class="item__price">от 1 980 р.</div>
												</div>
											</a>
										</div>
									</div>

									<div class="uk-width-2-5">
										<div class="item lazy" data-src="img/short-list-img-4.png">
											<a href="#">
												<div class="item__text">
													<div class="item__type">Двери в квартиру</div>
													<div class="item__price">от 3 499 р.</div>
												</div>
											</a>
										</div>
									</div>

									<div class="uk-width-3-5">
										<div class="item lazy" data-src="img/short-list-img-5.png"">
											<a href="#">
												<div class="item__text">
													<div class="item__type">Эксклюзивные двери</div>
													<div class="item__price">от 19 990 р.</div>
												</div>
											</a>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
					<!-- end products-shor-list -->

				</div>
			</div>

			<!-- begin about-manufactures -->
			<div class="about-manufactures">
					<div class="text">
						<div class="uk-grid">
							<div class="uk-width-1-6 uk-visible@l"></div>
							<div class="uk-width-5-6@l">
								<div class="title-h1 uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">Двери от производителя в Москве <br> и Московской области</div>
								<p class="uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 100">
									Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. Здесь каждый сможет подобрать для себя именно то изделие, которое максимально отвечает технологическим требованиям и личным пожеланиям клиента. Наше основное конкурентное преимущество — это низкая цена в совокупности с высоким качеством.
								</p>
							</div>
						</div>
					</div>
			</div>
			<!-- end about-manufactures -->
			
			<!-- begin advantages -->
			<div class="advantages">
					<div class="uk-grid">
						<div class="uk-width-1-6 uk-visible@l"></div>
						<div class="uk-width-5-6@l">
							<div class="advantages-list" uk-scrollspy="target: >.item;cls: uk-invisible slide-up; delay: 0">
								<div class="item uk-invisible">
									<div class="item__img">
										<svg width="86px" height="62px" class="">
										  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#truck"></use>
										</svg>
									</div>
									<div class="item__title">Доставка</div>
									<div class="item__text">Наша компания осуществляет доставку до дома и офиса</div>
								</div>
								<div class="item uk-invisible">
									<div class="item__img">
										<svg width="61px" height="86px" class="">
										  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#card"></use>
										</svg>
									</div>
									<div class="item__title">Оплата</div>
									<div class="item__text">У нас вы можете оплатить покупки любым удобным для Вас способом</div>
								</div>
								<div class="item uk-invisible">
									<div class="item__img">
										<svg width="86px" height="86px" class="">
										  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#guarantee-certificate"></use>
										</svg>
									</div>
									<div class="item__title">Гарантии</div>
									<div class="item__text">Наша компания дает до 3 лет гарантии на все виды продукции!</div>
								</div>
								<div class="item uk-invisible">
									<div class="item__img">
										<svg width="64px" height="86px" class="">
										  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite-svg.svg#door"></use>
										</svg>
									</div>
									<div class="item__title">Установка</div>
									<div class="item__text">Наши специалисты не только установят, но и объяснят как пользоваться</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<!-- end advantages -->

			<!-- begin manufactures-tabs -->
			<div class="manufactures-tabs">

					<ul class="tab-sw" uk-switcher>
						<li><a href="">новинки</a></li>
						<li><a href="">лидеры продаж</a></li>
						<li><a href="">распродажа</a></li>
					</ul>
					<ul class="uk-switcher">
						<li>
							<div class="tab-slider">
								<div class="tab-slider-wrapper">
									<div class="slider">
										<div class="slide">
									
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-1-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #232323;"></a></li>
														<li><a href="#" style="background-color: #3d2b1e;"></a></li>
														<li><a href="#" style="background-color: #f4e4d4;"></a></li>
														<li><a href="#" class="show-more-colors" uk-tooltip="title: Более 25 цветов; pos: right">1</a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__options">
														<ul>
															<li>Стандарт</li>
															<li>Взломостойкая</li>
															<li>Со сменными панелями</li>
														</ul>
													</div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
									
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-2-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
													</ul>  
													<div class="card__article"><a href="">Фурнитура Adden Bau</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price">от 2 900 р.</span>
														<span class="current-price">от 2 600 р.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-3-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
													</ul>  
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
													<div class="stocks">
														<div class="discount">- 20%</div>
														<div class="new">New</div>
														<div class="popular">Хит</div>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-4-146x316.png" alt=""></a>
													</div> 
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #232323;"></a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-1-146x316.png" alt=""></a>
													</div> 
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="slider__arrows">
										<div class="slide-prev white"><i class="icon-arrow-left"></i></div>
										<div class="slide-next white"><i class="icon-arrow-right"></i></div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tab-slider">
								<div class="tab-slider-wrapper">
									<div class="slider">
										<div class="slide">
									
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-1-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #232323;"></a></li>
														<li><a href="#" style="background-color: #3d2b1e;"></a></li>
														<li><a href="#" style="background-color: #f4e4d4;"></a></li>
														<li><a href="#" class="show-more-colors" uk-tooltip="title: Более 25 цветов; pos: right">1</a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__options">
														<ul>
															<li>Стандарт</li>
															<li>Взломостойкая</li>
															<li>Со сменными панелями</li>
														</ul>
													</div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
									
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-2-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
													</ul>  
													<div class="card__article"><a href="">Фурнитура Adden Bau</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price">от 2 900 р.</span>
														<span class="current-price">от 2 600 р.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-3-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
													</ul>  
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
													<div class="stocks">
														<div class="discount">- 20%</div>
														<div class="new">New</div>
														<div class="popular">Хит</div>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card-wrapper">
												<div class="card">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-4-146x316.png" alt=""></a>
													</div> 
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #232323;"></a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-1-146x316.png" alt=""></a>
													</div> 
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="slider__arrows">
										<div class="slide-prev white"><i class="icon-arrow-left"></i></div>
										<div class="slide-next white"><i class="icon-arrow-right"></i></div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tab-slider">
								<div class="tab-slider-wrapper">
									<div class="slider">
										<div class="slide">
									
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-1-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #232323;"></a></li>
														<li><a href="#" style="background-color: #3d2b1e;"></a></li>
														<li><a href="#" style="background-color: #f4e4d4;"></a></li>
														<li><a href="#" class="show-more-colors" uk-tooltip="title: Более 25 цветов; pos: right">1</a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__options">
														<ul>
															<li>Стандарт</li>
															<li>Взломостойкая</li>
															<li>Со сменными панелями</li>
														</ul>
													</div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
									
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-2-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
													</ul>  
													<div class="card__article"><a href="">Фурнитура Adden Bau</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price">от 2 900 р.</span>
														<span class="current-price">от 2 600 р.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-3-146x316.png" alt=""></a>
													</div>
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
													</ul>  
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
													<div class="stocks">
														<div class="discount">- 20%</div>
														<div class="new">New</div>
														<div class="popular">Хит</div>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card-wrapper">
												<div class="card">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-4-146x316.png" alt=""></a>
													</div> 
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
														<li><a href="#" style="background-color: #a25f29;"></a></li>
														<li><a href="#" style="background-color: #fff5ee;"></a></li>
														<li><a href="#" style="background-color: #515051;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #442c24;"></a></li>
														<li><a href="#" style="background-color: #232323;"></a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="card">
												<div class="card-wrapper">
													<div class="card__img">
														<a href=""><img data-lazy="img/sliders-img/slider-img-1-146x316.png" alt=""></a>
													</div> 
													<ul class="card__colors">
														<li><a href="#" style="background-color: #964b02;"></a></li>
													</ul> 
													<div class="card__article"><a href="">Межкомнатные двери</a></div>
													<div class="card__product-name"><a href="">Металлическая входная дверь Министр (стальная) коричневая МДФ 003</a></div>
													<div class="card__price">
														<span class="old-price"></span>
														<span class="current-price">от 1 465 р.</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="slider__arrows">
										<div class="slide-prev white"><i class="icon-arrow-left"></i></div>
										<div class="slide-next white"><i class="icon-arrow-right"></i></div>
									</div>
								</div>
							</div>
						</li>
					</ul>

			</div>
			<!-- end manufactures-tabs -->

		</div>
		
		<!-- begin white-section -->
		<div class="white-section">
			<div class="uk-container">

				<!-- begin brands-list -->
				<div class="brands-list">
						<div class="brands-list__header">        
							<div class="title-h1">Бренды</div>
							<a href="" class="show-more">Показать все</a>
						</div>
						<div class="brands-slider">
							<div class="slider">
								<div class="slide"><a href="#"><img data-lazy="img/sliders-img/brands-img-1.png" alt=""></a></div>
								<div class="slide"><a href="#"><img data-lazy="img/sliders-img/brands-img-2.png" alt=""></a></div>
								<div class="slide"><a href="#"><img data-lazy="img/sliders-img/brands-img-3.png" alt=""></a></div>
								<div class="slide"><a href="#"><img data-lazy="img/sliders-img/brands-img-4.png" alt=""></a></div>
								<div class="slide"><a href="#"><img data-lazy="img/sliders-img/brands-img-1.png" alt=""></a></div>
							</div>
						</div>
				</div>
				<!-- end brands-list -->

				<!-- begin about-company -->
				<div class="about-company">
					<div class="gray-block">
						<div class="about-company__title uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 0">
							Крупная сеть <span>по всей России</span>
						</div>
						<p class="uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 100">
							Наш интернет-магазин «Двери регионов» представляет вашему вниманию большой и исчерпывающий ассортимент дверей. Здесь каждый сможет подобрать для себя именно то изделие, которое максимально отвечает технологическим требованиям и личным пожеланиям клиента. Наше основное конкурентное преимущество — это низкая цена в совокупности с высоким качеством.
						</p>
						<a href="" class="btn uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 150">Посмотреть адреса магазинов</a>
					</div>

					<div class="about-company__text" uk-scrollspy="target: p.uk-invisible; cls: uk-invisible slide-up; delay: 0">
						<div class="text-section uk-clearfix">
							<div class="text">
								<div class="title-h1">
									Почему следует заказывать двери у нас?
								</div>
								<p class="uk-invisible">
									Купить двери в Москве через интернет – это просто, быстро и выгодно. Вам не за чем переплачивать магазинам с огромными наценками, когда под рукой такой удобный вариант. Мы уже долгое время сотрудничаем с лучшими производителями дверей в России, и смогли добиться наиболее выгодных условий, чтобы сформированные нашими специалистами цены всегда радовали клиентов и вызывали желание обратиться к нам ещё раз.
								</p>
							</div>
							<div class="img">
								<img class="lazy" data-src="img/text-section-img-1.png" alt="">
							</div>
						</div>
						<div class="text-section uk-clearfix">
							<div class="img">
								<img class="lazy" data-src="img/text-section-img-2.png" alt="">
							</div>
							<div class="text">
								<p class="uk-invisible">
									Заказать двери через наш сервис вы сможете всего в несколько кликов. Консультанты при необходимости помогут подобрать наиболее подходящий для вас вариант и ответят на любые вопросы. Мы работаем качественно и стараемся создать максимально комфортные условия для тех, кто ценит свои деньги время. Что касается оплаты и, то вы сможете выбрать для себя наиболее удобный вариант: наличный расчёт, банковская карта, перевод, рассрочка. Доставка осуществляется по Москве, за пределы МКАД или транспортными компаниями в другие регионы России. При необходимости наши грузчики помогут с подъёмов вашего заказа на любой этаж.
								</p>
							</div>
						</div>
						<div class="text-section uk-clearfix">
							<div class="text">
								<p class="uk-invisible">
									Грамотно подобранная дверь станет полноценным дизайнерским элементом, который дополнит общий стиль вашего дома наравне с другими элементами интерьера, а в отдельных случаях может создать дополнительный акцент и даже стать особой изюминкой.
								</p>
								<p class="uk-invisible">
									Заказывайте в нашем интернет-магазине «Двери регионов». Сотрудничая с нами, вы сможете воплотить свои мечты в жизнь с наименьшими затратами.
								</p>
							</div>
							<div class="img">
								<img class="lazy" data-src="img/text-section-img-3.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- end about-company -->

			</div>
		</div>
		<!-- end white-section -->
		
		<!-- begin attantion-bloc -->
		<div class="attantion-block">
			<p>
				Обращаем Ваше внимание на то, что данный веб сайт носит исключительно информационно-ознакомительный характер, и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
			</p>
			<p>
				Любое несоответствие информации о товаре на сайте с фактической - это досадная ошибка, мы заранее за это извиняемся и просим Вас связаться с нами по почте со ссылкой и пояснением в случае обнаружения подобной ошибки.
			</p>
		</div>
		<!-- end attantion-bloc -->

	</section>
{% endblock %}
