{% extends "layouts/content.html" %}
{% set title="Отзывы" %}
{% set bread = ["Главная", "Отзывы"] %}
{% set filter = false %}
{% set img = "faq-door" %}
{% set panel = false %}
{% block content %}

	<!-- begin content -->
	<div class="content">
		<div class="breadcrumbs-wrapper">
			{% include "includes/breadcrumbs.html" %}
		</div>
		<div class="title-h1">Отзывы</div>
		
		<div class="seo-text">
			Мы стремимся оказывать качественные услуги с высоким уровнем сервиса. Мы благодарны нашим клиентам за оказанное доверие и положительные отзывы о совместной работе.
		</div>
		<a href="#" class="btn" uk-toggle="#revies-modal">Оставить отзыв</a>

		<!-- begin reviews-list -->
		<div class="reviews-list">
			<div class="review">
				<div class="review__top">
					<div class="review__user">
						<div class="review__name">Николай,</div>
						<div class="review__date">26 сентября 2019</div>
					</div>
					<div class="rating uk-clearfix">
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
					</div>
				</div>
				<div class="review__text">
					Своим клиентам мы предлагаем широчайший выбор моделей входных и межкомнатных дверей различных как по ценовой категории, так и дизайну.
				</div>
				<a href="" class="link-read-more">Подробнее</a>
			</div>

			<div class="review">
				<div class="review__top">
					<div class="review__user">
						<div class="review__name">Сергей Петрович,</div>
						<div class="review__date">21 сентября 2019</div>
					</div>
					<div class="rating uk-clearfix">
						<input id="" type="radio" name="" value="" checked>
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
					</div>
				</div>
				<div class="review__text">
					За годы работы компания «Двери Регионов» по праву заслужила репутацию надежного партнера. Гарантированное качество предлагаемой нами продукции остается неизменно высоким. Мы стараемся поддерживать, приобретенный у наших клиентов авторитет и остаемся профессионалами в этом направлении, постоянно расширяя ассортимент и обеспечивая высокое качество каждой модели двери, вне зависимости от ее стоимости.
				</div>
				<a href="" class="link-read-more">Подробнее</a>
			</div>

			<div class="review">
				<div class="review__top">
					<div class="review__user">
						<div class="review__name">Валентина,</div>
						<div class="review__date">12 сентября 2019</div>
					</div>
					<div class="rating uk-clearfix">
						<input id="" type="radio" name="" value="" checked>
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
					</div>
				</div>
				<div class="review__text">
					Профессионалы компании ДВЕРИ РЕГИОНОВ очень внимательны к каждому клиенту. Вы можете быть уверены в том, что Ваши пожелания не просто примут к сведению, а возьмут за основу при выполнении заказа. Мы всегда заинтересованы в том, чтобы наши покупатели могли приобретать товары, оптимальные по соотношению цены и качества.
				</div>
				<a href="" class="link-read-more">Подробнее</a>
			</div>

			<div class="review">
				<div class="review__top">
					<div class="review__user">
						<div class="review__name">Оксана,</div>
						<div class="review__date">12 сентября 2019</div>
					</div>
					<div class="rating uk-clearfix">
						<input id="" type="radio" name="" value="" checked>
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
					</div>
				</div>
				<div class="review__text">
					Обращаем Ваше внимание на то, что данный веб сайт носит исключительно информационно-ознакомительный характер, и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
				</div>
				<a href="" class="link-read-more">Подробнее</a>
			</div>

			<div class="review">
				<div class="review__top">
					<div class="review__user">
						<div class="review__name">Евгений Анатольевчи,</div>
						<div class="review__date">09 сентября 2019</div>
					</div>
					<div class="rating uk-clearfix">
						<input id="" type="radio" name="" value="" checked>
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
						<input id="" type="radio" name="" value="">
						<label for="" class="icon-star"></label>
					</div>
				</div>
				<div class="review__text">
					Любое несоответствие информации о товаре на сайте с фактической - это досадная ошибка, мы заранее за это извиняемся и просим Вас связаться с нами по почте со ссылкой и пояснением в случае обнаружения подобной ошибки.
				</div>
				<a href="" class="link-read-more">Подробнее</a>
			</div>			

		</div>
		<!-- end reviews-list -->

		<div class="catalog-bar">
			<div class="uk-grid">
				<div class="uk-width-1-">
					<ul class="uk-pagination uk-flex-center">
						<li class="uk-pagination-prev">
							<a href="">
								Предыдущая
							</a>
						 </li>
						<li class="uk-active"><span>1</span></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">4</a></li>
						<li><a href="">...</a></li>
						<li><a href="">12</a></li>
						<li class="uk-pagination-next">
							<a href="">
								Следующая
							</a>
						 </li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<!-- end content -->

{% endblock %}
